### Looping 

- Sometimes it may be neccessary to repeat the certain process until a certain condition is met.
- It's a process of repeating a set of statments

    In python , there are 2 loops

#### For loop

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

-  For loop is preferred when we know the no of iterations in advance. 

>syntax:

- for var in sequence:
    
    statements

In [ ]:

for n in range(40):
    if(n%2==1):
        print("Weird",n)
    else:
        if(n<=2 and n>=5):
            print("Not Weird",n)
        elif (n<=6 and n>=20):
            print("Weird",n)
        else:
            print("Not Weird",n)

In [ ]:
# without loops

# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
print("hello "*100)

In [ ]:
# with loops

for i in range(1,10,1):#(start,stop,step) 
    print("hello",end=" ")

In [ ]:
for i in range(9):
    print(i**2)

In [ ]:
range(0,10,1) # start , stop , step

In [ ]:
list(range(1,10,1))

In [ ]:
for i in range(1,10,1):
    print(i,end=" ")

In [ ]:
for i in range(1,10,1):
    print(i**2,end=" ")

In [ ]:
for i in range(1,10,1):
    print("Hello User",i)
    
print("out of loop")
print(10+20)

In [ ]:
for ak in range(0,10):
    print(ak)
#     print("HEllo")
#     print("Hi")

print(ak)

In [ ]:

    
num = 9
i = 1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

In [ ]:
num = int(input("Enter the number"))

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

#### print base FOR-LOOP
    - Mainly used for printing & filtering purpose
    - Don't have access to the index locations.
    - Can be used on ALL-TYPES : List,Tuple , Set , Str , Dictionary

In [ ]:
# list 

marks = [90,76,72,272]

for m in marks:
    print(m)

In [ ]:
# tuple
prices = (55.2,90.2,67.2,51.2,10/3)

for p in prices:
    print(p)

In [ ]:
# str
name = "Kumar R"

for ch in name:
    print(ch)

In [ ]:
s = "Python is OOps Language"
for ch in s:
    if (ch.isupper()):
        print(ch , end=" ")

In [ ]:
s = "Python is OOps Language"
for ch in s:
    if (ch.islower()):
        print(ch , end=" ")

In [ ]:
# set 

colors = {"blue","red","yellow","blue","red","orange"}

for c in colors:
    print(c)

In [ ]:
# dict

student = {"Name":"Rajini",
            "course":"python",
            "fee":12000
          }
print(student)

In [ ]:
print(dir(student))

In [ ]:
print(student.keys())

In [ ]:
print(student.values())

In [ ]:
print(student.items())

[('Name', 'Rajini'), ('course', 'python'), ('fee', 12000)] --> list of tuples and each tuple has key,value

In [ ]:
print(student["branch"])

In [ ]:
print(student.get("branch","key not found"))

In [ ]:
for s in student:
    print(s)

In [ ]:
for s in student:
    print(s, student[s])

In [ ]:
for s in student:
    print(s, student.get(s))

In [ ]:
#dict 
#key = immutables 
#values =immu & mutable : both
student = {
    "Name": "Ellie",
    "Address":"USA",
    "Salary":4000,
    "Role":"SDE"
}


for tmp in student: # print only the keys
    print(tmp,student.get(tmp))

In [ ]:
for data in student.items():
    print(data , type(data))

In [ ]:
for data in student.items():
    for dt in data:
        print(dt ,end=" ")
    print()

In [ ]:
for data in student.items():
    print(data[0],data[1])

In [ ]:
a=(10,20,30)
print(a,type(a))

In [ ]:
b = 10,20,30
print(b,type(b))

In [ ]:
a,b,c = (10,20,30)
print(a,b)

In [ ]:
for a,b in student.items(): #[(K1,v1),(K2,v2).....,(K2,v2)]
    print(a,b)

In [ ]:
for dt in student.keys():
    print(dt , student[dt])

In [ ]:

#unpacking

for key , val in student.items():
    print(key,val)

In [ ]:
a = [("sairam","python",1000),("Ak","Java",700),("Stu","Ruby",600)]

for x in a:
    print(x,x[0],x[1],x[2])

In [ ]:
a=[("sairam","python",1000),("Ak","Java",20000),("Stu","Ruby",600)]

for x,y,z in a:
    print(x,y,z)
    
    
# same no of elements in all tuples.

In [ ]:
LIST TUPLE STR


NEGATIVE MODULES 
===================
 
-a%b ===> Add +b to -a until we reach either 0, or +ve number

a%-b ===> Subtract -b to a until we reach 0,or -ve negative number.

In [ ]:
print(10%3)
# print(10%0)
print(10%100)
print(5%5)

In [ ]:
print(-10%3)

-10+3 = -7+3=>-4+3==>-1+3==>2

In [ ]:
print(10%-3)

In [ ]:
10-3 ==> 7-3==>4-3==>1-3==>-2

In [ ]:
print(txt.expandtabs(8))

### RANGE BASED for loop

- we have control on index locations
- maily used to change the data at locations
- customized output
- range(start,stop,step)
- we can apply on list , tuple ,str

In [ ]:
list_data = ["Python","Course","Fee","Dollars",True,10.28989]
print(list_data[0])

In [ ]:

list_data = ["Python","Course","Fee","Dollars",True,10.28989]

n = len(list_data)

print(f'length of list is {n}')

for ind in range(0,n+1):
    print(ind , list_data[ind])

In [ ]:
print(list_data)

In [ ]:
for ind in range(n):
    if ind%2==1:
        print(list_data[ind])

In [ ]:
for ind in range(n):
    if ind%2==0:
        list_data[ind] = ind**ind

In [ ]:
print(list_data)

In [ ]:
#reverse

for index in range(-1,-n-1,-1):
    print(list_data[index])

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

for i in range(len(comp)):#0-5
    if (i>2):
        print(comp[i])
    else:
        print(f"{i} is less than given condition")

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

loc = int(input("Enter the loc: "))

inp_dt= input("Enter the data to input: ")

for i in range(len(comp)):
    if(i==loc):
        comp[i] = inp_dt
print(comp)

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 2j ,10e10 , 5+2j]

for i in range(len(comp)):
    if (type(comp[i]) not in [complex]):
        print(comp[i])

In [ ]:
# TUPLE

In [ ]:
# tuple
prices = (55.2,90.2,67.2,51.2,10/3)

for ind in range(len(prices)):
    print(prices[ind])

In [ ]:
prices = (55.2,90.2,67.2,51.2,10/3)

for ind in range(len(prices)):
    if ind == 2:
        prices[ind] = ind**ind
print(prices[ind])

In [ ]:
# STR

In [ ]:
msg = "Hey Hi"

for i in range(len(msg)):
    print(msg[i])

In [ ]:
lang = "Python Is OOP's Languge"

n = len(lang)

for ind in range(n):
    print(lang[ind],end=" ")

In [ ]:
s="Python Is OOP's Languge"

In [ ]:
for ind in range(len(s)):
    if (s[ind]>='A' and s[ind]<='Z'):
        print(s[ind] , end=" ")

In [ ]:
print('a'>'A')

In [ ]:
print(chr(65),chr(97))

In [ ]:
print(ord('a'),ord('z'))

In [ ]:
print(chr(91))

In [ ]:
print(ord('A'),ord('Z'))

In [ ]:
for ch in s:
    if (ord(ch)>=97 and ord(ch)<=122):
        print(ch)

### WHILE LOOP
    
    
- With the while loop we can execute a set of statements as long as a condition is true.
- We prefer the while when dont know the no of iterations in advance
- In While loop , its mandatory to initialise the index variable and increment it during iterations

In [ ]:
i = 0 #index variable
n = 10 #stop

while i<n: #true 
    print(i)
    i+=2
    
print("outside loop")

In [ ]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)
print(len(comp))

In [ ]:
# print base 
for data in comp:
    print(data, end =" ")

In [ ]:
# range 

for i in range(0,len(comp)):
    print(comp[i] , end=" ")

In [ ]:
# while

comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]

i = 0
n = len(comp)

print(n)
while i<n:
    print(i,comp[i])
    i = i+2

In [ ]:
i=0
while i<5:
    print("hello world")

In [ ]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops , it will stop when the condition is FALSE
while i<=n: #0 1 2 3 4 5 6 7 8 9  10
    print(i ,end=" ")
    print("Kumar")
    i +=1
    
print(i)

In [ ]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops
while i<=n: #0 1 2 3 4 5 6 7 8 9 
    print(i ,end=" ")
    i=i+2

In [ ]:
print(10==10)

print(12!=0)

print(0!=0)

In [ ]:
print(bin(12))

In [ ]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)


ind = 0

n = len(comp)

print(ind,n)

while ind < n: #0 1 2 3 4 5 
    print(comp[ind])
    ind+=1

In [ ]:
comp

### Daily usecases

#### decimal number to binary convertion

In [ ]:


# VALUES : 128 64 32 16 8 4 2 1
# digits : 

n=27 #1100

while n!=0: #when flase comes out of the loop
    print(n%2 , end=" ")
    n=n//2


# modulus = 1 1 0 1 1 (binary of 27)
# #n = 13 
# n = 6
# n =3
# n= 1 
# n=0

#### print in reverse order.

In [ ]:

start = -1

n = -len(comp)

print(start,n)

while start>=n: #0 1 2 3 4 5 
    print(comp[start])
    start=start-1

#### copying

In [ ]:


ind = 0

n = len(comp)

new_list = ['a','b','c','d','e','f']

while ind < n: #0 1 2 3 4 5 
    comp[ind]=new_list[ind]
    ind+=1
comp

##### rever of an array

In [ ]:
# rever of a array

arr = [109,3,9,0,6]
#output [6,0,9,3,109]

ind = 0 
backind = len(arr)-1

n = len(arr)

while ind<(n//2):
    arr[ind] ,arr[backind]  = arr[backind] , arr[ind]
    ind+=1
    backind= backind-1
    print(f"{ind} iteration:  {arr}")

print(arr)