### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

![](https://bertwagner.com/wp-content/uploads/2018/12/Nested-Loop-Join-50fps-1.gif)

### Nested For Loop

In [ ]:
for :
    for:
        for:
            for
    
for:
    while
    
while:
    while

while:
    for

In [ ]:
FOR ONE ITERATION OF Outer Loop , INNER loop will execute all it's iterations.

![](https://pynative.com/wp-content/uploads/2021/06/python-nested-for-loop.png)

In [ ]:
# normal for loop

for i in range(10):
    print(i , end=" ")

In [ ]:
for i in range(1,4): 
    for j in range(1,3):
        print(i,j)

![](https://media.geeksforgeeks.org/wp-content/uploads/20220801153940/Nestedloop.png)

In [ ]:
for i in range(5): #0-4
    for j in range(2): #0-1
        print("HI" , end=" ")
    print()

In [ ]:
count=0
for i in range(0,10,2):
    for j in range(i+1,10,2):
        for k in range(j+2,10):
            count = count+1
print(count)

In [ ]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

In [ ]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

####  EXAMPLES

In [3]:
x = [1, 2]
y = [4, 5]

for i in x:
    for j in y:
        print(i, j)

1 4
1 5
2 4
2 5

In [4]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
    j = 0
    while j < len(y) :
        print(x[i] , y[j])
        j = j + 1
    i = i + 1

1 4
1 5
2 4
2 5

In [ ]:


arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

for data in arr_2D:
    print(data)

In [ ]:
for data in arr_2D:
    for inner in data:
        print(inner, end =" ")
    print()

In [ ]:
data = ["apple","ms","telsa", "Micro"]

print(data[0])

In [ ]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]


print(arr_2D[0][3])

print(len(arr_2D))

In [ ]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]

n = len(arr_2D)
print("len is",n)

for i in range(n):
    for j in range(len(arr_2D[i])):
        print(arr_2D[i][j])
    print()

In [ ]:
arr_2D

### TRY THIS

In [ ]:

for i in range(n):
    for j in range(len(arr_2D[i])):
        if(i==j):
            arr_2D[i][j] = i**j
    print()
    
print(arr_2D)

In [7]:
for i in range(2, 4):
    if i==j:
        break
    print(i, "*", j, "=", i*j)
    print()

2 * 10 = 20

3 * 10 = 30

In [8]:

for i in range(2, 4):
    for j in range(1, 11):
        if i==j:
            continue
        print(i, "*", j, "=", i*j)
    print()

2 * 1 = 2
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
# EXAMPLES

data = [["kumar",1200],["Alex",1500],["Avan",2500]]

for outer in data:
    for d2 in outer:
        print(d2)

### Daily-usecases

#### Printing mutliplication table

In [6]:
for i in range(2, 4):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30