### Data Types Functions


- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [ ]:
x = "Hello World"
type(x)

x = 20
type(x)

x = 20.5
type(x)


x = 1j
type(x)


x = ["apple", "banana", "cherry"]
type(x)


x = ("apple", "banana", "cherry")
type(x)


x = range(6)
type(x)


x = {"name" : "John", "age" : 36}
type(x)



x = {"apple", "banana", "cherry"}
type(x)


x = frozenset({"apple", "banana", "cherry"})
type(x)


x = True
type(x)


x=b"Hello"
type(x)


x=bytearray(5)
type(x)


x=memoryview(bytes(5))

type(x) #print(type(x))
#print()

### fundamental  steps to develop a program 

- The fundamental phases to develop any program or app or problem statement are


#### 1. Algorithm  : Step by Step process to solve any specific task or problem statement.
        -written using a single statements in English 
        -Should Have Definite Start and End  , Should Have Definite Number of steps.
        - one problem can have many different algorithms 
        
           ex:Preparing a tea
   
      ex: Multiply two numbers

      STEP 1: START

      STEP 2:DECLARE num1, num2

      STEP 3: READ num1 ,num2

      STEP 4: SET product = num1*num2

      STEP 5: PRINT product

      STEP6:END
  
  
#### 2. Flow charts : Pictorial Representation of steps  , using symbols




#### 3. Pseudocode :  Its similar version of programming code written in plain english , independent of program Lang

        - It doesnt require any strict programming languange syntax
        - It is easily readable and modular form
        - Its is Code like language 
        ex:
        
        BEGIN 
        
            DECLARE num
            READ num 
            
            IF num MOD 2 is ZERO THEN
                PRINT "EVEN"
            ELSE THEN
                PRINT "ODD"
            ENDIF
        END

In [ ]:
# PROGRAM ST - Sum of N natural 

# inp = 3
# op : 1+2+3 = 6

# inp = 5 
# op = 1+2 ...+5 = 15

In [ ]:
# method-1 :O(1)

num = int(input("enter the num: "))

res = num * (num+1)/2

print(f"Sum of N is {res}")

In [ ]:
# method-2  : O(n)

sumOfN = 0 

n = int(input("Enter the N: "))


for i in range(1,n+1):
    sumOfN = sumOfN+i
    
    
print(sumOfN)

# sumOfN = 0+1
# sumOfN = 1+2
# sumOfN = 3+3
# sumOfN = 6+4 = 10

In [ ]:
# example-1 : Even-Odd Checking

def evenoddchecker(num):
    for n in num:
        if (n%2==0):
            print(n," EVEN")
        else:
            print(n," ODD")
        
        
evenoddchecker(range(2,25))

In [ ]:
# examples-2 : Linear Search

#INPUT 

alst = list(map(int,input().split()))

print(lst)

In [ ]:
key = int(input("Enter the Key"))

#LOGIC CODE

for ind in range(len(lst)):
    if lst[ind] == key:
        print(ind)
        break
else:
    print("key not found")
    
    
# 0(n) = worst
# 0(1) =  best 
# 0(n/2) = avg

# Bineary Search ?  - O(logn)

In [ ]:
# example - 3: sum of N natural numbers.

In [ ]:
num = int(input("enter the n "))


if num%2==0:
    print("EVEN")
else:
    print("ODD")

### Statements

**A program contains**

- sequential statements  : Flow of execution is line by line 
- control statements    : Flow of execution depends on control expression
- Iteratative Statements  : Flow of execution on Loops / Repeated Actions



#### Conditional Statements

- if  else
- elif
- nested if else

**decision making statements**

That is where control structures come in. A control structure directs the order of execution of the statements in a program.



        if expr:

            statement

**Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.**

In [ ]:
# syntax
if condition:
    #this part of code runs 
    #for truthy conditions

In [ ]:
# sequential statements

a=10
b=20
print("Hello")

b+=2
print(b)

In [ ]:
msg = "Hello"

if msg == "Hi": #True
    print("Greeted")
    print("True Condition...")
    
print("next lines")

In [ ]:
# syntax
if condition:
    this part of code runs for truthy conditions
else:
     this part of code runs for false conditions

In [ ]:
num = 11

if (num%2==0):
    print("EVEN")
    print("BLOCK")
else:
    print("ODD")
    print("BLOCK")

In [ ]:
if not True:
    print("Hello")
else:
    print("Bye")

In [ ]:
if 10<1:
    print("TRUE")
else:
    print("FALSE")

In [ ]:
if type(10) is int:
    print("True")
    print("True Block")
else:
    print("False")
    print("False block")

In [ ]:
num1=10
num2=11
if (num1==num2):
    print("EQUAL")
    print("world")
    print("hello")
    print("IF BLOCK")
else:
    print("NOT EQUAL")

In [ ]:
num1 = 10
num2 = 100

if num1 < num2: # if True Go Inside Else GOTO to the statement after IF block
    print(num2 ,"Greater")
    print("A")
    print("B")
    
print("next statements")
print("next next ")

In [ ]:
num1 = 1
num2 = 4
if num1>num2:
    print(num1 ,"Greater")
else:
    print(num1 ,"<" ,num2)
    print('{} is less than {}'.format(num1,num2))# string 2.x
    print(f'{num1} is less  than {num2}') #3.x

In [ ]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')

else:
    print("Not Present")
print('After conditional')

In [ ]:
if type("Kumar") is str:
    print("Hey Hi")

In [ ]:
if 'zy' in 'python':                # Truthy
    print('yes')
else:
    print("NO")

In [ ]:
tomorrow = "No Holiday"

if tomorrow == "Holiday":
    print("Plan a Movie !")

else:
    print("Gotta go Office !")

In [ ]:
num = int(input()) # default input() will read only strings "10" "10.2"

if (num % 2==0): # True
    print("it is an  even")

else: #False
    print("it is an odd")

#### elif

- Handling the mutliple conditions 
- The elif keyword in python a way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 32
b = 34
if b > a:
    print("b is greater than a")
elif a%2==0: 
    print("a and b are equal")
else:
    print("not equal")

print("Hello ")

In [ ]:
name = input("Enter the Name")


if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == "Joe":
    print('Hello Arnold')
else:
    print("I don't know who you are!")

print("Normal flow")
print(10+20)

#### multiple if's
    - #In multiple if's , each and very condition is checked =>  even if the previous if is true

In [ ]:
#in multiple if , each and very condition is checked =>  even if the previous if is true or false.
data = 10
if data>=10:
    print("HI")
    
if type(data) is int:
    print("Hey")
    
if type(data) is str:
    print("Hello")
    
else:
    print("Bye Bye")
print("Continue from if else")

In [ ]:
data = 10
if data>10:
    print("HI")
    
elif type(data) is int:
    print("Hey")
    
elif type(data) is str:
    print("Hello")
    
else:
    print("Bye Bye")
    
print("Continue from if else")

#### excercise

In [ ]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

print(avg,sum1)

if avg > 9:
    print("A")
elif avg>8:
    print("B")
elif avg>7:
    print("C")
elif avg>6:
    print("D")
else:
    print("Fail")

In [ ]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

# print(avg,sum1)

if avg > 9:
    print("A")
if avg>8:
    print("B")
if avg>7:
    print("C")
if avg>6:
    print("D")
else:
    print("Fail")

### nested if
    - writing if & else block inside another if & else block

In [ ]:
passwds = {"phonepwd":"123"}

input_passwd = input("enter the passwd to unlock the device: ")

if (input_passwd == passwds["phonepwd"]):
    print('Welcome unlocked')
else:
    print('Please try again')

In [ ]:
# voting example 

age = int(input("Enter the Age?: "))


if age>=18:
    voter_id = input("Do you have Voter Id?: Y/N")
    if voter_id == "Y":
        print("Eligible to vote ")
    else:
        print("Apply for the card")
else:
    print("not eligible to vote")

In [ ]:
a=int(input("Enter num1="))
b=int(input("Enter num2="))
c=int(input("Enter num3="))
# 3 9 6
if a>b:
    if a>c:
        print(a)
    else:
        print(c)
else:
    if(b>c):
        print(b)
    else:
        print(c)

In [ ]:
# optimized


a=int(input("Enter num1: "))
b=int(input("Enter num2: "))
c=int(input("Enter num3: "))
if a==b==c:
    print("ALL NUMS are equal's")
elif (a>b and a>c):
    print(a)
elif (b>a and b>c):
    print(b)
else:
    print(c)

In [ ]:
#excercise 


a =  int(input()) #5
b = int(input())  #2

if a>5:
    if a>=10:
        print(" If Block It's greater")
    else:
        print("It's not greater")
else:
    a+=5 #a = a+5
    b=-5
    if(a>=10):
        print(" Else Block It's greater")
    else:
        print("Lesser")

In [ ]:
num =  int(input("Enter the NUM ")) #10
if num<=10:
    num-=1
    if num<=8:
        num-=2
        if num<=5:
            num+=2
            if num<=0:
                print("Hello")
            else:
                print("Bye")
        else:
            print("else-1")
    else:
        print("else -2")
else:
    print("else -3")

####  Short Hand If else
    If you have only one statement to execute, 
     
     you can put it on the same line as the if statement.

In [ ]:
a = True  #1

b= False  #0

if a>b: print("A is Greater")
print(a,b)

In [ ]:
a=100
b=20
print("True") if a<b else print("False")

#### excercise

In [ ]:
print(len([]))
print(bool(()))
print(bool(0))
print(bool(0.0))
print(bool(""))

In [ ]:
print(bool(10))

print(bool("kumar"))

print(bool([10]))

In [ ]:
if "":
    print("hello")
    print("True")
else:
    print("Flase Block")

In [ ]:
print(bool([10]))

In [ ]:
if [10]:
    print("hello")
    print("True")
else:
    print("Bye bye")

In [ ]:
# conditional 
    if 
    if else
    if elif elif else
    if if if else

### Looping 

- Sometimes it may be neccessary to repeat the certain process until a certain condition is met.
- It's a process of repeating a set of statments

    In python , there are 2 loops

#### For loop

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

-  For loop is preferred when we know the no of iterations in advance. 

>syntax:

- for var in sequence:
    
    statements

In [ ]:
# without loops

# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")

In [ ]:
# with loops

for i in range(1,10,1):
    print("hello" , end=" ")

In [ ]:
list(range(0,10,1)) # start , stop , step

In [ ]:
for i in range(1,10,1):
    print(i,end=" ")

In [ ]:
for i in range(1,10,1):
    print(i**2,end=" ")

In [ ]:
for i in range(1,10,1):
    print("Hello User",i)
    
print("out of loop")
print(10+20)

In [ ]:
for ak in range(0,10):
    print(ak)
    print("HEllo")
    print("Hi")

print(ak)

In [ ]:

    
num = 9
i = 1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

In [ ]:
num = int(input("Enter the number"))

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

#### print base FOR-LOOP
    - Mainly used for printing & filtering purpose
    - Don't have access to the index locations.
    - Can be used on ALL-TYPES : List,Tuple , Set , Str , Dictionary

In [ ]:
# list 

marks = [90,76,72,272]

for m in marks:
    print(m)

In [ ]:
# tuple
prices = (55.2,90.2,67.2,51.2,10/0)

for p in prices:
    print(p)

In [ ]:
# str
name = "Kumar R"

for ch in name:
    print(ch)

In [ ]:
s = "Python is OOps Language"
for ch in s:
    if (ch.isupper()):
        print(ch , end=" ")

In [ ]:
# set 

colors = {"blue","red","yellow","blue","red","orange"}

for c in colors:
    print(c)

In [ ]:
# dict

student = {"Name":"Rajini",
            "course":"python",
            "fee":12000}

for s in student:
    print(s)

In [ ]:
# dict

student = {"Name":"Rajini",
            "course":"python",
            "fee":12000}

for s in student:
    print(s , student[s])

In [ ]:
# dict

student = {"Name":"Rajini",
            "course":"python",
            "fee":12000}

for s in student:
    print(s , student.get(s))

In [ ]:
#dict 
#key = immutables 
#values =immu & mutable : both
student = {
    "Name": "Ellie",
    "Address":"USA",
    "Salary":4000,
    "Role":"SDE"
}


for tmp in student: # print only the keys
    print(tmp,student.get(tmp))

In [ ]:
print(student.keys())

In [ ]:
print(student.values())

In [ ]:
print(student.items())

In [ ]:
for data in student.items():
    print(data , type(data))

In [ ]:
for data in student.items():
    print(data[1])

In [ ]:
for k,v in student.items(): #[(K1,v1),(K2,v2).....,(K2,v2)]
    print(k,v)

In [ ]:
for dt in student.keys():
    print(dt , student[dt])

In [ ]:

#unpacking

for key , val in student.items():
    print(key,val)

In [ ]:
a=[("sairam","python",1000),("Ak","Java",700),("Stu","Ruby",600)]

for x in a:
    print(x,x[0],x[1],x[2])

In [ ]:
a=[("sairam","python",1000),("Ak","Java","python"),("Stu","Ruby",600)]

for data in a:
    print(data)

In [ ]:
a=[("sairam","python",1000),("Ak","Java","python"),("Stu","Ruby",600)]

for v1,v2,v3 in a:
    print(v1,v2,v3)

#### range base for loop

- we have control index locations
- maily used to change the data at locations
- customized output

In [ ]:
# LIST

In [ ]:

list_data = ["Python","Course","Fee","Dollars",True,10.28989]

n = len(list_data)

print(f'length of list is {n}')

for ind in range(0,n):
    print(ind , list_data[ind])

In [ ]:
for ind in range(n):
    if ind%2==1:
        print(list_data[ind])

In [ ]:
for ind in range(n):
    if ind%2==0:
        list_data[ind] = ind**ind

In [ ]:
print(list_data)

In [ ]:
#reverse

for index in range(-1,-n-1,-1):
    print(list_data[index])

In [ ]:
for i in range(n):
    if (i>2):
        print(comp[i])
    else:
        print(f"{i} is less than given condition")

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

loc = int(input("Enter the loc: "))

inp_dt= input("Enter the data to input: ")

for i in range(len(comp)):
    if(i==loc):
        comp[i] = inp_dt
print(comp)

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 2j ,10e10 , 5+2j]
for i in range(len(comp)):
    if (type(comp[i]) in [complex,bool,int]):
        print(comp[i])

In [ ]:
# TUPLE

In [ ]:
# tuple
prices = (55.2,90.2,67.2,51.2,10/3)

for ind in range(len(prices)):
    print(prices[ind])

In [ ]:
# STR

In [ ]:
msg = "Hey Hi"

for i in range(len(msg)):
    print(msg[i])

In [ ]:
lang = "Python Is OOP's Languge"

n = len(lang)

for ind in range(n):
    print(lang[ind])

In [ ]:
s="Python Is OOP's Languge"

In [ ]:
for ind in range(len(s)):
    if (s[ind]>='A' and s[ind]<='Z'):
        print(s[ind] , end=" ")

In [ ]:
print(ord("A") ,ord("Z"))

In [ ]:
print(ord("a") ,ord("z"))

In [ ]:
print(ord("A"),ord("y"), ord("Z"))

In [ ]:
for ind in range(len(s)):
    if ord(s[ind])>=97 and ord(s[ind])<=122:
        print(s[ind] , end=" ")

In [ ]:
print("A">"a")

In [ ]:
mobiles = {"mi","vivo","oneplus","apple"}
print(mobiles)
for ind in range(len(mobiles)):
    print(mobiles[ind])

### WHILE LOOP
    
    
- With the while loop we can execute a set of statements as long as a condition is true.
- We prefer the while when dont know the no of iterations in advance
- In While loop , its mandatory to initialise the index variable and increment it during iterations

In [ ]:
i = 0 #index variable
n = 10 #stop

while i<n: #true 
    print(i ,end=" ")
    i+=1
    
print("outside loop")

In [ ]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)
print(len(comp))

In [ ]:
# print base 
for data in comp:
    print(data, end =" ")

In [ ]:
# range 

for i in range(0,len(comp)):
    print(comp[i] , end=" ")

In [ ]:
# while

comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]

i = 0
n = len(comp)

print(n)
while i<n:
    print(i)
    print(comp[i])
    i = i+1

In [ ]:

comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]

i = 0
n = len(comp)

print(n)
while i<n:
    print(i)
    print(comp[i])

In [ ]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops , it will stop when the condition is FALSE
while i<=n: #0 1 2 3 4 5 6 7 8 9  10
    print(i ,end=" ")
    print("Kumar")
    i+=1
    
print(i)

In [ ]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops
while i<=n: #0 1 2 3 4 5 6 7 8 9 
    print(i ,end=" ")
    i=i+2

In [ ]:
#DRY 

# program to convert decimal number to binary
#  128 64 32 16 8 4 2 1
# 
n=369

while n!=0: #when flase comes out of the loop
    print(n%2 , end=" ")
    n=n//2


# modulus = 1 1 0 1 1 (binary of 27)
# #n = 13 
# n = 6
# n =3
# n= 1 
# n=0

In [ ]:
print(bin(369))

In [ ]:
#infinite loop
i=0
while i<10:
    print(i)

In [ ]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)


ind = 0

n = len(comp)

print(ind,n)

while ind < n: #0 1 2 3 4 5 
    print(comp[ind])
    ind+=1

In [ ]:
# print in reverse order.

start = -1

n = -len(comp)

print(start,n)

while start>=n: #0 1 2 3 4 5 
    print(comp[start])
    start=start-1

In [ ]:
# copy 

ind = 0

n = len(comp)

new_list = ['a','b','c','d','e','f']

while ind < n: #0 1 2 3 4 5 
    comp[ind]=new_list[ind]
    ind+=1
comp

In [ ]:
# rever of a array

arr = [109,3,9,0,6]
#output [6,0,9,3,109]

ind = 0 
backind = len(arr)-1

n = len(arr)

while ind<(n//2):
    arr[ind] ,arr[backind]  = arr[backind] , arr[ind]
    ind+=1
    backind= backind-1
    print(f"{ind} iteration:  {arr}")

print(arr)

### Looping Statements

#### Break

- With the break statement we can stop the loop before it has looped through all the items:


#### Continue 

- With the continue statement we can stop the current iteration of the loop, and continue with the next:

- skips the current iteration

#### pass
    for/while loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error

In [ ]:
# PASS

In [ ]:
if 10>20:
    pass

In [ ]:
for i in range(10):
    pass

In [ ]:
while 10>2:
    pass

In [ ]:
# BREAK - STOP THE LOOP Before looping all iterations

In [ ]:
for i in range(1,10):
    print(i)
    if(i==5):
        break

In [ ]:
for i in range(1,10):
   
    print(i) 
    print("hi")
    print("Hello")
    break
else: #no break occurence 
    print("Hey Hi Iam Else Block")
   
    
print("after for loop")

In [ ]:
for i in range(1,10):
    break
    print(i)
    print("snjkns")
    print("snkndld")
    
    
print("outside loop")

In [ ]:
# CONTINUE

In [ ]:
for i in range(1,10):
    if i==5 or i==8:
        continue
    print(i, end=" ")
else:
    print("For loop executed all iterations")

In [ ]:
for i in range(10):
    print(i,end="")
    continue
    print("hello")

In [ ]:
for i in range(10):
    continue
    print(i)
else:
    print("Else ")

In [ ]:
for i in range(100):
    
    if i % 3 == 0 or i % 5 == 0:
        continue
    else:
        print(i , end= " ")

In [ ]:
# For -  Loop
- When we know the no of iteration in advance.
- range() is a friend which handles start,step ,stop.
 - Have control on indexes.
    
    
# While - loop
 - when we don't know iteration in advance..
 - we have to declare start , stop , step
 - if we don't increment/decrement step --> infinite loop.

#### Else with For/While

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
# Normal usage 

a =10
b= 20
if a>b:
    print("snjknld")
else: #False
    print("else block")

In [ ]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Kumar":
    print(i ,end="")
    if(i=='z'):
        break
        
        
else: #no break #when executed al the iterations
    print(" Printed Successfully")

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

### Nested For Loop

In [ ]:
for i in range(4):
    for j in range(2):
        print(i ** j,end=" ")
    print()

In [ ]:
# normal for loop

for i in range(10):
    print(i , end=" ")

In [ ]:
count=0
for i in range(5):
    for j in range(3):
        count= count+1
    print()
    
print(count)

In [ ]:
for i in range(5): #0-4
    for j in range(2): #0-1
        print("HI" , end=" ")
    print()

In [5]:
count=0
for i in range(0,10,2):
    for j in range(i+1,10,2):
        for k in range(j+2,10):
            count = count+1
        print()
    print("count = ",count)
    
print(count)

count =  16




count =  25



count =  29


count =  30

count =  30
30

In [6]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [7]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [8]:
# EXAMPLES 

arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

for data in arr_2D:
    print(data)

[1, 2, 3, 10]
['a', 'b', 'c']
[10.2, True, (10+2j)]

In [9]:
for data in arr_2D:
    for inner in data:
        print(inner, end =" ")
    print()

1 2 3 10
a b c
10.2 True (10+2j)

In [10]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]

n = len(arr_2D)
print("len is",n)

for i in range(n):
    for j in range(len(arr_2D[i])):
        print(arr_2D[i][j])

len is 3
apple
ms
telsa
Micro
a
b
c
d
f
e
10.2
True
(10+2j)

In [11]:
# TRY THIS

for i in range(n):
    for j in range(len(arr_2D[i])):
        if(i==j):
            arr_2D[i][j] = i**j
    print()
    
print(arr_2D)

[[1, 'ms', 'telsa', 'Micro'], ['a', 1, 'c', 'd', 'f', 'e'], [10.2, True, 4]]

In [12]:
# EXAMPLES

data = [["kumar",1200],["Alex",1500],["Avan",2500]]

for outer in data:
    for d2 in outer:
        print(d2)

kumar
1200
Alex
1500
Avan
2500

### Comprehension

- It shorten the sytax of list with for loops

- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
a=[]
for i in range(20):
    a.append(i)
print(a)

In [14]:
b = []

for i in range(0,20,2):
    b.append(i)
    
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
# using Comprehension

b = [ i for i in range(0,20,2)]
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
a=[i+2 for i in range(20)]
print(a)
type(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

list

In [16]:
[i*i*i for i in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [17]:
#generate a even numbers for given specified range add it to the list

even = []

#range(0,20)
for i in range(0,20):
    if i%2==0:
        even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
even =[ i for i in range(20) if i%2==0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
odd = []

#range(0,20)
for i in range(1,20):
    if i%2==1:
        odd.append(i)

In [20]:
odd =[ i for i in range(20) if i%2==1]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
# Tuple Comprehension 

odd = (i for i in range(20) if i%2==1)
print(odd)

<generator object <genexpr> at 0x0000020C6311ADD0>

In [22]:
names = (i.islower() for i in ["Clarke","tivoa","Eyak","maura"])

for dt in names:
    print(dt)

False
True
False
True

### Dictionary Comprehension

In [23]:
some_dict = { i:i**i for i in range(1,5)}
print(some_dict)

{1: 1, 2: 4, 3: 27, 4: 256}

In [24]:
print(ord("a"))

97

In [25]:
print(ord("A"))

65

In [26]:
name ={i:ord(i) for i in "Kumar Rajamoni"}
print(name)

{'K': 75, 'u': 117, 'm': 109, 'a': 97, 'r': 114, ' ': 32, 'R': 82, 'j': 106, 'o': 111, 'n': 110, 'i': 105}

In [27]:
# ord() chr() : ascii values

print(ord("A"),chr(65))

65 A

In [28]:
#usage case 2

# create a array of values , or required dimensions

arr = [0]*100
print(arr)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
arr = [0 for i in range(100)]

print(arr)

arr = [0]*10
print(arr)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
for row in range(4):
    for col in range(5):
        print(row,col , end="  ")
    print()

0 0  0 1  0 2  0 3  0 4
1 0  1 1  1 2  1 3  1 4
2 0  2 1  2 2  2 3  2 4
3 0  3 1  3 2  3 3  3 4

In [31]:
# 2D

arr2D = [ [ (row,col) for col in range(5)] for  row in range(4)]