### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [1]:
print("Hello World ")

Hello World

In [8]:
var = "Holiday"

if var == "Holiday":
    print("Let's plan something")
    print("Thinking .....")
else:
    print("Go to class")
    print("Uhgggggg")

Let's plan something
Thinking .....

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

- attributes 
    - value 
    - sep
    - end
    - file 
    - flush

In [9]:
print("Hello World Python .. ")

Hello World Python ..

In [10]:
print('Hii Hey')

Hii Hey

In [31]:
print('Hey Geeks') #string

print(10) #int 

print(10.2) #float

print(1+2j) #complex

print(True) #booleam

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

Hey Geeks
10
10.2
(1+2j)
True
[10, 20, 30, 40]
('IND', 'NZ', 'AUS')
{'blue', 'yellow', 'red'}
{'name': 'Kumar', 'course': 'Python', 'fee': 10.23893}

In [12]:
name = "Kumar"
role = "SDE"
age = 45

print(name)
print(role)
print(age)

Kumar
SDE
45

In [13]:
print(name,role,age)

Kumar SDE 45

In [18]:
print(name,age,role,sep=" # ")

Kumar # 45 # SDE

In [ ]:
print(name,age,role,sep=" # ")

In [19]:
print(name,age,role,sep="\n")

Kumar
45
SDE

In [21]:
print(age,role , sep = " %% ")

45 %% SDE

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
#end= "\n"
for i in range(10):
    print(i, end = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [28]:
#file=sys.stdout

s = o-pen("demo.txt",mode="a")

print("Hey Hi Introduction to python" , file = s)

In [30]:
a = 10
b = 30

print(a)

print()
print()
print()
print()
print()


print(b)

10





30

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [32]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''this is a function which 
        return addition'''
    print(a+b)
    
fun(10,20)

30

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num

In [33]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [34]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kumar
First name length: 5
Last name:  Rajamoni
Last name length:  8
Country:  India
City:  Noida
Age:  25
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python', 'JAVA']
Person information:  {'firstname': 'Kumar', 'lastname': 'Rajamoni', 'country': 'India', 'city': 'Hyd'}

In [36]:
print(type(first_name))

print(type(age))

print(type(skills))

<class 'str'>
<class 'int'>
<class 'list'>

In [37]:
age = 35.3
print(age , type(age))

35.3 <class 'float'>

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }