### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [ ]:
print("Hello World ")

In [ ]:
var = "Holiday"

if var == "Holiday":
    print("Let's plan something")
    print("Thinking .....")
else:
    print("Go to class")
    print("Uhgggggg")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

- attributes 
    - value 
    - sep
    - end
    - file 
    - flush

In [2]:
print("Hello World Python .. ")

Hello World Python ..

In [3]:
print('Hii Hey')

Hii Hey

In [4]:
print('Hey Geeks') #string

print(10) #int 

print(10.2) #float

print(1+2j) #complex

print(True) #booleam

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

Hey Geeks
10
10.2
(1+2j)
True
[10, 20, 30, 40]
('IND', 'NZ', 'AUS')
{'blue', 'yellow', 'red'}
{'name': 'Kumar', 'course': 'Python', 'fee': 10.23893}

In [ ]:
##IN OTHER LANG's
#static types

int age = 10;
float salary = 10.28938;
char ch = 'a';
String name = "Kumar";

age = 10.5; ##valid?

In [7]:
name = "Kumar"
role = "SDE"
age = 45

print(name)
print(role)
print(age)

Kumar
SDE
45

In [9]:
print(name,role,age)

Kumar SDE 45

In [10]:
print(name,age,role,sep=" # ")

Kumar # 45 # SDE

In [11]:
print(name,age,role,sep=" , ")

Kumar , 45 , SDE

In [12]:
print(name,age,role,sep="\n")

Kumar
45
SDE

In [13]:
print(age,role , sep = " %% ")

45 %% SDE

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
#end= "\n"
for i in range(10):
    print(i, end = " , ")

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ,

In [17]:
#file=sys.stdout

s = open("demo.txt",mode="a")

print("Hey Hi Introduction to python" , file = s)

In [19]:
a = 10
b = 30

print(a)

print() #\n
print()
print()
print()
print()


print(b)

10





30

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''this is a function which 
        return addition'''
    print(a+b)
    
fun(10,20)

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

In [ ]:
#Valid variables.

# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# Invalid variables 


# first-name
# first@name
# first$name
# num-1
# 1num

In [21]:
num1 = 10

In [29]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [30]:
class = 102.2 #reserved word 
print(class)

SyntaxError: invalid syntax (<ipython-input-30-6c4c95497e05>, line 1)

In [22]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [23]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kumar
First name length: 5
Last name:  Rajamoni
Last name length:  8
Country:  India
City:  Noida
Age:  25
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python', 'JAVA']
Person information:  {'firstname': 'Kumar', 'lastname': 'Rajamoni', 'country': 'India', 'city': 'Hyd'}

In [28]:
#type(var_name)  --> gives type of data
#len(var_name)   --> length 
#id(var_name)    ---> memory addres.

print(type(first_name))

print(type(age))

print(type(skills))


print(len(skills))

print(len("Py"))

# print(len(10)) #can't used for numeric data types.

<class 'str'>
<class 'int'>
<class 'list'>
6
2

TypeError: object of type 'int' has no len()

In [ ]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [35]:
var = input("Enter some interger .")
print(var , type(var))

Enter some interger .1+2j
1+2j <class 'str'>

In [36]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

What is your name: KUmar
How old are you? 24
KUmar
24

In [40]:
score1 = input("Enter the score1: ")

score1 = int(score1) #str -- int

score2 = input("Enter the score2: ")

score2 = int(score2) #str -- int

print(score1 + score2)

Enter the score1: 67
Enter the score2: 89
156

In [39]:
print("98"+"85")
print(98+85)

9885
183

In [41]:
#Reading + Converting to required type in oneline.

age = int(input("Enter the age? "))
print(age , type(age))

Enter the age? 10
10 <class 'int'>

In [43]:
stockPrice = float(input("Enter the price: "))

print(stockPrice , type(stockPrice))

Enter the price: 2899.38893
2899.38893 <class 'float'>

In [46]:
numbers = input("Enter the numbers : ")
print(numbers , type(numbers))

# O/P : [10,30,40]

Enter the numbers : 10 30 40 40
10 30 40 40 <class 'str'>

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### List 
    - List is a collectional & indexed & ordered data type , which stores multiple items/elements in single variable.
    - declared with []
    - Indexing 
        - Postive indexing : 0 -> N-1
        - Indexing : -1 ->  -N
    - Mutable --> Changes are allowed at locations.

In [47]:
fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)

print(fruits, type(fruits) , len(fruits))

['Banana', 'Orange', 'Mango', 'Avocado'] <class 'list'> 4

In [48]:
print(fruits[0])

Banana

In [54]:
print(fruits[3])
print(fruits[-4]) #invalid index

Avocado

In [56]:
print(fruits[-2])

Mango

In [58]:
print(fruits[-5])

IndexError: list index out of range

In [59]:
fruits[3] = "pineapple"

print(fruits)

['Banana', 'Orange', 'Mango', 'pineapple']

In [60]:
fruits[4] = "cherry"
print(fruits) #invalid

IndexError: list assignment index out of range

### List Methods 
    - append()
    - insert()
    - extend()
    - pop()
    - remove()
    - reverse()
    - copy()
    - index()
    - sort()
    - clear()
    - count()

In [61]:
print(dir([10]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [63]:
#append() --> add data at end of the list #add only element

fruits.append("pineapple")
fruits.append("cherry")
print(fruits)

['Banana', 'Orange', 'Mango', 'pineapple', 'pineapple', 'pineapple', 'cherry']

In [64]:
 #fruits.append("dragon","fruit") #invalid

TypeError: append() takes exactly one argument (2 given)

In [77]:
countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)

print(countries, type(countries) , len(countries))

['Finland', 'Estonia', 'Sweden', 'Norway'] <class 'list'> 4

In [66]:
#insert()

countries.insert(0,"India")

print(countries)

['India', 'Finland', 'Estonia', 'Sweden', 'Norway']

In [67]:
countries.insert(3,"England")

print(countries)

['India', 'Finland', 'Estonia', 'England', 'Sweden', 'Norway']

In [68]:
#extend() - add more than one data/element at end of the list

countries.extend(["USA","Aus"])

print(countries)

['India', 'Finland', 'Estonia', 'England', 'Sweden', 'Norway', 'USA', 'Aus']

In [73]:
#pop() --> it will remove -1 index data

print(countries.pop(4))

Sweden

In [74]:
print(countries)

['India', 'Finland', 'Estonia', 'England', 'Norway']

In [78]:
#remove() --> remove based on the value 
countries.remove("Estonia")
print(countries)

['Finland', 'Sweden', 'Norway']

In [80]:
# countries.remove("Estonia") #error

In [82]:
companies = ['TCS', "Info", "Accenture","GOOGLE","Amazon","Ola","Netflix","Ola","Info"]

print(companies , type(companies) , len(companies))

['TCS', 'Info', 'Accenture', 'GOOGLE', 'Amazon', 'Ola', 'Netflix', 'Ola', 'Info'] <class 'list'> 9

In [83]:
companies.append("Wipro")
companies.extend(["MindTree","Swiggy"])
companies.insert(0,"Microsft")

print(companies , type(companies) , len(companies))

['Microsft', 'TCS', 'Info', 'Accenture', 'GOOGLE', 'Amazon', 'Ola', 'Netflix', 'Ola', 'Info', 'Wipro', 'MindTree', 'Swiggy'] <class 'list'> 13

In [87]:
#count() --> occurence of a element.
companies.count("Info")

2

In [88]:
companies.count("TCS")

1

In [93]:
#index() --> it will give you the first index of element.
companies.index("Ola")

6

In [ ]:
# companies.index("Disney") # error

In [94]:
companies.reverse()
print(companies)

['Swiggy', 'MindTree', 'Wipro', 'Info', 'Ola', 'Netflix', 'Ola', 'Amazon', 'GOOGLE', 'Accenture', 'Info', 'TCS', 'Microsft']

In [95]:
#sort() - sorting based on the ascii numbering
# A-Z : 65 - 90
# a-z : 97 - 122
companies.sort()

print(companies)

['Accenture', 'Amazon', 'GOOGLE', 'Info', 'Info', 'Microsft', 'MindTree', 'Netflix', 'Ola', 'Ola', 'Swiggy', 'TCS', 'Wipro']

In [100]:
#copy() --> create new copy from original

copyVar = companies.copy()

print(copyVar)

copyVar[0] = "Acc" #changing

print(copyVar)

print(companies)

['Accenture', 'Amazon', 'GOOGLE', 'Info', 'Info', 'Microsft', 'MindTree', 'Netflix', 'Ola', 'Ola', 'Swiggy', 'TCS', 'Wipro']
['Acc', 'Amazon', 'GOOGLE', 'Info', 'Info', 'Microsft', 'MindTree', 'Netflix', 'Ola', 'Ola', 'Swiggy', 'TCS', 'Wipro']
['Accenture', 'Amazon', 'GOOGLE', 'Info', 'Info', 'Microsft', 'MindTree', 'Netflix', 'Ola', 'Ola', 'Swiggy', 'TCS', 'Wipro']

In [101]:
#clear() -- clear all the elements
copyVar.clear()
print(copyVar)

[]

In [102]:
copVar2 = companies.copy()

print(copVar2)

del copVar2 #delete space from memory

print(copVar2)

['Accenture', 'Amazon', 'GOOGLE', 'Info', 'Info', 'Microsft', 'MindTree', 'Netflix', 'Ola', 'Ola', 'Swiggy', 'TCS', 'Wipro']

NameError: name 'copVar2' is not defined

### tuple 
       - tuple is also collectional & indexed & ordered data type , which stores multiple items/elements in single variable.
       - declared with ()
       - Indexing 
            - Postive indexing : 0 -> N-1
            - Indexing : -1 ->  -N
    - Immutable --> Changes are not allowed at locations. Once assigned it's fixed can't changeable.

In [103]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

print(planets , type(planets) , len(planets))

('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') <class 'tuple'> 8

#### methods

In [104]:
#methods 

print(dir(planets))
# 'count', 'index' --> methods()

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [106]:
planets.count('Pluto')

0

In [107]:
planets.index("Earth")

0

In [109]:
# planets.index("Pluto") #error

In [116]:
print(planets[8])

IndexError: tuple index out of range

In [113]:
print(planets[-1])

Mercury

## Set
        - Set is unordered & unindexed datatype
        - declared with {} 
        - Doesn't store duplicate elements 
        - No Indexing because of no ordering 
        - Mutable

In [122]:
teams = {"IND","ENG","PAK","AUS","NZ","IND","IND"}

print(teams, type(teams) , len(teams))

{'ENG', 'IND', 'AUS', 'NZ', 'PAK'} <class 'set'> 5

In [118]:
print(teams[0])

TypeError: 'set' object is not subscriptable

### methods

In [119]:
print(dir(teams))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [121]:
teams.add("SA")

print(teams)

{'ENG', 'IND', 'SA', 'AUS', 'NZ', 'PAK'}

In [125]:
x = {"google","microsft","amazon"}

y = {"amazon","ola","google"}

# x-y

print(x.difference(y))

{'microsft'}

In [124]:
print(y.difference(x))

{'ola'}

In [126]:

#union()

print(x.union(y))

{'microsft', 'google', 'ola', 'amazon'}

In [127]:
#intersection()

print(x.intersection(y))

{'amazon', 'google'}

In [128]:
#discard() 
#     if member -- remove
#     else : no error : do nothing

x.discard("google")

print(x)

{'microsft', 'amazon'}

In [130]:
x.discard("wipro")

print(x)

{'microsft', 'amazon'}

In [132]:
#remove()

x.remove("wipro") #always throw an error if it's not a member

KeyError: 'wipro'

In [134]:
x.remove("amazon")

In [136]:
print(x)

{'microsft'}

In [139]:
x = {"AUS","AMAZON","Netflix"}
x.pop() # always remove random elemets

'Netflix'

In [143]:
print(x)
x.pop()

set()

KeyError: 'pop from an empty set'

In [ ]:
print([].pop())

## Dictionary 
    - Dictionary is a collection which stores the data in key : value format 
    - KEY should be unique and immuatble type:
        - Keys can  be str,tuple,int, float , complex,bool
        - Values can be of any type.
        
    - {"key1":"value1" , 
        "key2":"value2"
          .....}
          
     - Fastest and efficient one among all collection data types

In [144]:
team = {
'cricketTeamName':'India',
'Captain':'RS',
'country':'India', 
'year':2022, 
'is_top20':True,
'Players':['Virat', 'Rohit', 'Bhu', 'Python']
}

print(team , type(team) , id(team))

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'> 2439280207232

In [146]:
print(team['country'])

India

In [150]:
print(team['Players'])

['Virat', 'Rohit', 'Bhu', 'Python']

In [151]:
print(team["score"]) #invalid key

KeyError: 'score'

### methods

In [152]:
print(dir(team))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [153]:
#get()

team.get("Players")

['Virat', 'Rohit', 'Bhu', 'Python']

In [154]:
team.get("score")

In [156]:
team.get("year","Key is not valid")

2022

In [157]:
# items() -- [(K1,V1),(K2,V2),(),()]

team.items()

dict_items([('cricketTeamName', 'India'), ('Captain', 'RS'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [158]:
#keys() -- it will print only keys

team.keys()

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [159]:
#values --> it will print only values

team.values()

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [162]:
#pop() - remove based on keys 

poppedEle = team.pop("Captain")

print(poppedEle)

print(team)

KeyError: 'Captain'

In [163]:
print(team)

{'cricketTeamName': 'India', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [164]:
# popitem() 

team.popitem()

('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])

In [165]:
print(team)

{'cricketTeamName': 'India', 'country': 'India', 'is_top20': True}

In [166]:
#update()

team.update({'country': 'Bharat'})

print(team)

{'cricketTeamName': 'India', 'country': 'Bharat', 'is_top20': True}

In [167]:
team.update({'country1': 'India'})

print(team)

{'cricketTeamName': 'India', 'country': 'Bharat', 'is_top20': True, 'country1': 'India'}

In [ ]:
# get()
#  items()
#  keys()
# values
# pop()
# popitem()
# update()


# NOTE:
    - U can't pop on invalid key
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/builtin-functions.png" width= "700" height="600">

In [173]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

<class 'str'>
<class 'int'>
<class 'dict'>
2439279237872 140720876234832 2439297063104

In [172]:
print(type("AK"))

print(type(10))

print(type("10"))
print(type(10.378683))
print(type(True))
print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [177]:
#dir()
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [179]:
#  sum()

marks = [10,20,30]

print(sum(marks))

60

In [181]:
#max() min()

print(max(marks))

print(min(marks))

30
10

In [186]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar"))


print(len(person))

# print(len(10)) #error.

3
5
3

TypeError: object of type 'int' has no len()

In [188]:
# chr() ord()

print(ord("K"))

print(ord("a") , ord("A"))

75
97 65

In [189]:
print(ord(" "))

32

In [191]:
print(ord("%"))

37

In [193]:
print(chr(37))

%

In [196]:
for ch in "Kumar Rajamoni.":
    print(ch , ord(ch))

K 75
u 117
m 109
a 97
r 114
  32
R 82
a 97
j 106
a 97
m 109
o 111
n 110
i 105
. 46

## Range
    - generate a sequence of integer values 
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandtory

In [ ]:
range(1,10,0) # 1 - 9

In [ ]:
range(10) #0-9

In [ ]:
print(list(range(10)))

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

## Strings 
    - group of individual or collections of characters
    - strings are immutable in python
    - Strings have indexing
          +ve : 0 - N
          -ve : -N - -1
    - String supports slicing also.
    - In Python Strings cab be declared in 3 ways:
            - single quotes  'k'
            - double quotes   'dyamic programmic'
            - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

#### Creating a String

In [ ]:
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying  Python Course "
print(sentence)

In [ ]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [ ]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

In [ ]:
#Try this . 


first_name + " age "+ 40 + "Series Money Heist"

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [ ]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [ ]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

#### New Style String Formatting (str.format)

In [2]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Kumar R. I teach Python
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [ ]:
# Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/string_index.png" width="400" height="400">

In [ ]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P

second_letter = language[1]
print(second_letter) # y

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter) # n

In [ ]:
language = 'Python'

last_letter = language[-1]
print(last_letter) # n

second_last = language[-2]
print(second_last) # o

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    note: STOP is exculsive not included

In [ ]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt

last_three = language[3:6]
print(last_three) # hon
# Another way

last_three = language[-3:]
print(last_three)   # hon

last_three = language[3:]
print(last_three)   # hon

In [ ]:
# Reversing a String
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [ ]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

In [ ]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2`

In [ ]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

In [ ]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

In [ ]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 16
print(challenge.find('th')) # 17

In [ ]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 5
print(challenge.rfind('th')) # 1

In [ ]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.index(sub_string))  # 7
print(challenge.index(sub_string, 9)) # error

In [ ]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex(sub_string, 9)) # error

In [ ]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

In [ ]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

In [ ]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

In [4]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "Kumar "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth')) # 'irty days of py'

6
5
irty days of py

In [6]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace('Python', 'Java')) # 'thirty days of coding'

I Like to code In Java

In [ ]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

In [ ]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123'
print(num.isalpha())      # False

In [ ]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # False

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

In [ ]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

In [ ]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like )

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # 
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

In [ ]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

In [7]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

True
False
False
True

In [8]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) 

challenge = 'current,version,of,python,3.11'
print(challenge.split(', '))

['python', 'is', 'interprted', 'functional', 'scripting', 'language']
['current,version,of,python,3.11']

In [ ]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']

result = ' '.join(web_tech)
print(result)

## Operators

    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/assignment_operators.png" height="600" width="600">

In [ ]:
price = 12

# increase 2rs 
price = price + 2

# decrease 5 
price = price - 5 


print(price)

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/arithmetic_operators.png" height="700" width="700">

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

In [ ]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

In [ ]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponentiation)

In [ ]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        
 <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/comparison_operators.png" width="700" height="700">

In [ ]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShiop Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x in y)

In [ ]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [ ]:
a = 10
print(id(a))

b = 10
print(id(b))

#both refer to the same object memory location

print(a is b)
print(a is not b)

x= 100

y=200
print( x is y)
print(id(x),id(y))
print(x is y)
print(x is not y)

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/logical_operators.png" >

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

In [ ]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [ ]:
#representing
# 8 bit 

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 |2  |1    min =0 max = 255

In [ ]:
# bin() -- gives binary notation value of decimal no.

print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

In [ ]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
###### AND 000

###### OR 111

###### EXOR 111

#####NOT 100

print(a & b)

print(a | b)

print(a ^ b)

#sign bit 

#0 -ve
#1 +ve

In [ ]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>1)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [ ]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100 = 20

# after shifting 1 bit to the left

#00010100 =>20

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, well see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [ ]:
print(10+20*30/10)

In [ ]:
a = (10+20) * 30/10

print(a)

In [ ]:
a =  2+3*8/2-10**4%2//10

print(a)

In [ ]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

In [ ]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [ ]:
print(200 / 10 * 10)

In [ ]:
print(5 - 2 + 3)

In [ ]:
#right to left
print(2 ** 3 ** 2)