
### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [ ]:
print("Hello World ")

In [ ]:
var = "Holiday"

if var == "Holiday":
    print("Let's plan something")
    print("Thinking .....")
else:
    print("Go to class")
    print("Uhgggggg")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

- attributes 
    - value 
    - sep
    - end
    - file 
    - flush

In [ ]:
print("Hello World Python .. ")

In [ ]:
print('Hii Hey')

In [ ]:
print('Hey Geeks') #string

print(10) #int 

print(10.2) #float

print(1+2j) #complex

print(True) #booleam

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [ ]:
##IN OTHER LANG's
#static types

int age = 10;
float salary = 10.28938;
char ch = 'a';
String name = "Kumar";

age = 10.5; ##valid?

In [ ]:
name = "Kumar"
role = "SDE"
age = 45

print(name)
print(role)
print(age)

In [ ]:
print(name,role,age)

In [ ]:
print(name,age,role,sep=" # ")

In [ ]:
print(name,age,role,sep=" , ")

In [ ]:
print(name,age,role,sep="\n")

In [ ]:
print(age,role , sep = " %% ")

In [ ]:
for i in range(10):
    print(i)

In [ ]:
#end= "\n"
for i in range(10):
    print(i, end = " , ")

In [ ]:
#file=sys.stdout

s = open("demo.txt",mode="a")

print("Hey Hi Introduction to python" , file = s)

In [ ]:
a = 10
b = 30

print(a)

print() #\n
print()
print()
print()
print()


print(b)

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''this is a function which 
        return addition'''
    print(a+b)
    
fun(10,20)

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

In [ ]:
#Valid variables.

# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# Invalid variables 


# first-name
# first@name
# first$name
# num-1
# 1num

In [ ]:
num1 = 10

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
class = 102.2 #reserved word 
print(class)

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
#type(var_name)  --> gives type of data
#len(var_name)   --> length 
#id(var_name)    ---> memory addres.

print(type(first_name))

print(type(age))

print(type(skills))


print(len(skills))

print(len("Py"))

# print(len(10)) #can't used for numeric data types.

In [ ]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
var = input("Enter some interger .")
print(var , type(var))

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

In [ ]:
score1 = input("Enter the score1: ")

score1 = int(score1) #str -- int

score2 = input("Enter the score2: ")

score2 = int(score2) #str -- int

print(score1 + score2)

In [ ]:
print("98"+"85")
print(98+85)

In [ ]:
#Reading + Converting to required type in oneline.

age = int(input("Enter the age? "))
print(age , type(age))

In [ ]:
stockPrice = float(input("Enter the price: "))

print(stockPrice , type(stockPrice))

In [ ]:
numbers = input("Enter the numbers : ")
print(numbers , type(numbers))

# O/P : [10,30,40]

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### List 
    - List is a collectional & indexed & ordered data type , which stores multiple items/elements in single variable.
    - declared with []
    - Indexing 
        - Postive indexing : 0 -> N-1
        - Indexing : -1 ->  -N
    - Mutable --> Changes are allowed at locations.

In [ ]:
fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)

print(fruits, type(fruits) , len(fruits))

In [ ]:
print(fruits[0])

In [ ]:
print(fruits[3])
print(fruits[-4]) #invalid index

In [ ]:
print(fruits[-2])

In [ ]:
print(fruits[-5])

In [ ]:
fruits[3] = "pineapple"

print(fruits)

In [ ]:
fruits[4] = "cherry"
print(fruits) #invalid

### List Methods 
    - append()
    - insert()
    - extend()
    - pop()
    - remove()
    - reverse()
    - copy()
    - index()
    - sort()
    - clear()
    - count()

In [5]:
countries = ['Finland','Estonia', 'Sweden','Norway'] 

print(countries, len(countries) , type(countries))

# insertion
countries.append("India")
countries.insert(2,"Srilanka")
countries.extend(["Spain","Italy","Finland"])


# deletion 

print(countries.pop())

print(countries.pop(-2))

countries.remove("Sweden")


print("PRESENT LIST", countries)

countries.sort()

countries.reverse()

print(countries.count("Finland"))

print(countries.index("India"))

print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway'] 4 <class 'list'>
Finland
Spain
PRESENT LIST ['Finland', 'Estonia', 'Srilanka', 'Norway', 'India', 'Italy']
1
3
['Srilanka', 'Norway', 'Italy', 'India', 'Finland', 'Estonia']

In [ ]:
print(dir([10]))

In [ ]:
#append() --> add data at end of the list #add only element

fruits.append("pineapple")
fruits.append("cherry")
print(fruits)

In [ ]:
 #fruits.append("dragon","fruit") #invalid

In [ ]:
countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)

print(countries, type(countries) , len(countries))

In [ ]:
#insert()

countries.insert(0,"India")

print(countries)

In [ ]:
countries.insert(3,"England")

print(countries)

In [ ]:
#extend() - add more than one data/element at end of the list

countries.extend(["USA","Aus"])

print(countries)

In [ ]:
#pop() --> it will remove -1 index data

print(countries.pop(4))

In [ ]:
print(countries)

In [ ]:
#remove() --> remove based on the value 
countries.remove("Estonia")
print(countries)

In [ ]:
# countries.remove("Estonia") #error

In [ ]:
companies = ['TCS', "Info", "Accenture","GOOGLE","Amazon","Ola","Netflix","Ola","Info"]

print(companies , type(companies) , len(companies))

In [ ]:
companies.append("Wipro")
companies.extend(["MindTree","Swiggy"])
companies.insert(0,"Microsft")

print(companies , type(companies) , len(companies))

In [ ]:
#count() --> occurence of a element.
companies.count("Info")

In [ ]:
companies.count("TCS")

In [ ]:
#index() --> it will give you the first index of element.
companies.index("Ola")

In [ ]:
# companies.index("Disney") # error

In [ ]:
companies.reverse()
print(companies)

In [ ]:
#sort() - sorting based on the ascii numbering
# A-Z : 65 - 90
# a-z : 97 - 122
companies.sort()

print(companies)

In [ ]:
#copy() --> create new copy from original

copyVar = companies.copy()

print(copyVar)

copyVar[0] = "Acc" #changing

print(copyVar)

print(companies)

In [ ]:
#clear() -- clear all the elements
copyVar.clear()
print(copyVar)

In [ ]:
copVar2 = companies.copy()

print(copVar2)

del copVar2 #delete space from memory

print(copVar2)

### tuple 
       - tuple is also collectional & indexed & ordered data type , which stores multiple items/elements in single variable.
       - declared with ()
       - Indexing 
            - Postive indexing : 0 -> N-1
            - Indexing : -1 ->  -N
    - Immutable --> Changes are not allowed at locations. Once assigned it's fixed can't changeable.

In [ ]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

print(planets , type(planets) , len(planets))

#### methods

In [ ]:
#methods 

print(dir(planets))
# 'count', 'index' --> methods()

In [ ]:
planets.count('Pluto')

In [ ]:
planets.index("Earth")

In [ ]:
# planets.index("Pluto") #error

In [ ]:
print(planets[8])

In [ ]:
print(planets[-1])

## Set
        - Set is unordered & unindexed datatype
        - declared with {} 
        - Doesn't store duplicate elements 
        - No Indexing because of no ordering 
        - Mutable

In [6]:
teams = {"IND","ENG","PAK","AUS","NZ","IND","IND"}

print(teams, type(teams) , len(teams))

{'NZ', 'IND', 'AUS', 'ENG', 'PAK'} <class 'set'> 5

In [7]:
print(teams[0])

TypeError: 'set' object is not subscriptable

### methods

In [ ]:
print(dir(teams))

In [ ]:
teams.add("SA")

print(teams)

In [ ]:
x = {"google","microsft","amazon"}

y = {"amazon","ola","google"}

# x-y

print(x.difference(y))

In [ ]:
print(y.difference(x))

In [ ]:

#union()

print(x.union(y))

In [ ]:
#intersection()

print(x.intersection(y))

In [ ]:
#discard() 
#     if member -- remove
#     else : no error : do nothing

x.discard("google")

print(x)

In [ ]:
x.discard("wipro")

print(x)

In [ ]:
#remove()

x.remove("wipro") #always throw an error if it's not a member

In [ ]:
x.remove("amazon")

In [ ]:
print(x)

In [ ]:
x = {"AUS","AMAZON","Netflix"}
x.pop() # always remove random elemets

In [ ]:
print(x)
x.pop()

In [ ]:
print([].pop())

In [13]:
# len(),type(),id(),dir()
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
print(help({10}))

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

## Dictionary 
    - Dictionary is a collection which stores the data in key : value format 
    - KEY should be unique and immuatble type:
        - Keys can  be str,tuple,int, float , complex,bool
        - Values can be of any type.
        
    - {"key1":"value1" , 
        "key2":"value2"
          .....}
          
     - Fastest and efficient one among all collection data types

In [17]:
team = {
'cricketTeamName':'India',
'Captain':'RS',
'country':'India', 
'year':2022, 
'is_top20':True,
'Players':['Virat', 'Rohit', 'Bhu', 'Python']
}

print(team , type(team) , id(team))

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'> 2638365316096

In [19]:
# print(team[0])

In [20]:
print(team['country'])

India

In [22]:
print(team['Players'])

['Virat', 'Rohit', 'Bhu', 'Python']

In [ ]:
print(team["score"]) #invalid key

### methods

In [23]:
print(dir(team))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [25]:
#get()
# if key is there , fetch the value
# if key is not there , print None or String literal

print(team.get("Players"))

['Virat', 'Rohit', 'Bhu', 'Python']

In [27]:
print(team.get("score"))

None

In [29]:
team.get("score","Key is not valid")

'Key is not valid'

In [30]:
# items() -- [(K1,V1),(K2,V2),(),()]

print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'RS'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [31]:
#keys() -- it will print only keys

print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [32]:
#values --> it will print only values

print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [33]:
#pop() - remove based on keys 

poppedEle = team.pop("Captain")

print(poppedEle)

print(team)

RS
{'cricketTeamName': 'India', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [34]:
print(team)

{'cricketTeamName': 'India', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [35]:
# popitem()  -->last (k,v) paire removed

team.popitem()

('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])

In [36]:
print(team)

{'cricketTeamName': 'India', 'country': 'India', 'year': 2022, 'is_top20': True}

In [37]:
#update()

team.update({'country': 'Bharat'})

print(team)

{'cricketTeamName': 'India', 'country': 'Bharat', 'year': 2022, 'is_top20': True}

In [38]:
team.update({'country1': 'India'})

print(team)

{'cricketTeamName': 'India', 'country': 'Bharat', 'year': 2022, 'is_top20': True, 'country1': 'India'}

In [ ]:
# get()
#  items()
#  keys()
# values
# pop()
# popitem()
# update()


# NOTE:
    - U can't pop on invalid key
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry

In [39]:
lst = [10,20]
lst.pop()
lst.pop()
print(lst)
lst.pop()

[]

IndexError: pop from empty list

In [40]:
n = {10,203,3}
n.pop()
n.pop()
n.pop()
print(n)
n.pop()

set()

KeyError: 'pop from an empty set'

In [41]:
m  = {"a":78,
     "b":79,
     "c":80}

m.popitem()
m.popitem()
m.popitem()
print(m)

m.popitem()

{}

KeyError: 'popitem(): dictionary is empty'

In [ ]:
[].pop()
{}.pop()
{}.popitem()

# error can't pop on EMPTY

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/builtin-functions.png" width= "700" height="600">

In [ ]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

In [ ]:
print(type("AK"))

print(type(10))

print(type("10"))
print(type(10.378683))
print(type(True))
print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

In [ ]:
#dir()
print(dir({}))

In [ ]:
#  sum()

marks = [10,20,30]

print(sum(marks))

In [ ]:
#max() min()

print(max(marks))

print(min(marks))

In [ ]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar"))


print(len(person))

# print(len(10)) #error.

In [ ]:
# chr() ord()

print(ord("K"))

print(ord("a") , ord("A"))

In [ ]:
print(ord(" "))

In [ ]:
print(ord("%"))

In [ ]:
print(chr(37))

In [ ]:
for ch in "Kumar Rajamoni.":
    print(ch , ord(ch))

## Range
    - generate a sequence of integer values 
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandtory

In [42]:
range(1,10,1) # 1 - 9

range(1, 10)

In [44]:
a = range(1,10,1)

print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
range(10) #0-9

range(0, 10)

In [46]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = range(1,10,2)

print(list(a))

In [ ]:
a = range(-1,-10,-1)

print(list(a))

In [47]:
a = range(10,0,-1)

print(list(a))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
a = range(1,1)

print(list(a))

[]

In [50]:
print(list(range(10,0,1)))

[]

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [52]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
# print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

num_int 10
num_float: 10.0
9
10
10
num_float 10.6
Asabeneh
['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

## Strings 
    - group of individual or collections of characters
    - strings are immutable in python
    - Strings have indexing
          +ve : 0 - N-1
          -ve : -N - -1
    - String supports slicing also.
    - In Python Strings cab be declared in 3 ways:
            - single quotes  'k'
            - double quotes   'dyamic programmic'
            - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

#### How Strings store in memory ?
 - based on the ascii 
 - chr(num)
 - ord(char)

In [58]:
for ch in "Kumar":
    print(ord(ch) ,end=" ")

75 117 109 97 114

In [59]:
print(ord(" "))

32

In [60]:
print(chr(97))

a

#### Creating a String

In [61]:
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying  Python Course "
print(sentence , len(sentence))

P
1
Hello, World!
13
I hope you are enjoying  Python Course  39

In [56]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course.

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [62]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

Helsinki Money Heist
8
11
False
20

In [63]:
print("Hello Everyone "+ "Welcome "+ "Pythom Student")

Hello Everyone Welcome Pythom Student

In [66]:
#Try this . 


first_name + " age "+ 40

TypeError: can only concatenate str (not "int") to str

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [70]:
print("hello \n world \tpython \n Saimedha")

hello
world 	python
 Saimedha

In [72]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

#### 3 ways of string declaration
    - 'a'
    - "Kumar"
    - ''' Python Session Welcome 
           Saimedha '''

In [74]:
sen = 'This's a book'

print(sen)

SyntaxError: invalid syntax (<ipython-input-74-0d741130d858>, line 1)

In [75]:
sen = "this's book"

print(sen)

this's book

In [76]:
sen1 = "Python "hello" world"

SyntaxError: invalid syntax (<ipython-input-76-34a4f6d7bfca>, line 1)

In [77]:
sen1 = """Python is "hello" world """

print(sen1)

Python is "hello" world

In [78]:
print(''' I'm a student and Every "python" course  ''')

 I'm a student and Every "python" course

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [81]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 10.5
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string)

python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

I am Kumar R. I teach Python
The area of circle with a radius 10 is 346.19.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

#### New Style String Formatting (str.format)

In [82]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Kumar R. I teach Python
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

#### F string

In [ ]:
# Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

In [88]:
name = "Kumar"
role = "SDE"
salary = 220282.28929820902
age = 25

print(name + role + salary)
# Kumar role is SDE of age 25  and salary is 220282.2892

TypeError: can only concatenate str (not "float") to str

In [89]:
print("I'm {} role is {} of age {} and salary is {}".format(name,role,age,salary))

I'm Kumar role is SDE of age 25 and salary is 220282.289298209

In [91]:
print(f'Iam {name} role is {role} of age {age} and salary is {salary:.2f}')

Iam Kumar role is SDE of age 25 and salary is 220282.29

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/string_index.png" width="400" height="400">

In [92]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P

second_letter = language[1]
print(second_letter) # y

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter) # n

P
y
n

In [93]:
print(language[len(language)-1])

n

In [94]:
print(language[-1])

n

In [ ]:
language = 'Python'

last_letter = language[-1]
print(last_letter) # n

second_last = language[-2]
print(second_last) # o

In [96]:

print(language[6])

IndexError: string index out of range

In [95]:
print(language[-6])

P

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    note: STOP is exculsive not included

In [97]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt

last_three = language[3:6]
print(last_three) # hon
# Another way

last_three = language[-3:]
print(last_three)   # hon

last_three = language[3:]
print(last_three)   # hon

Pyt
hon
hon
hon

In [103]:
name = "Kumar Rajamoni"
print(len(name))
print(name[:4])
print(name[0:4:1])

14
Kuma
Kuma

In [100]:
print(name[2:])

mar Rajamoni

In [104]:
print(name[-1:-15:-1])

inomajaR ramuK

In [105]:
print(name[::-1])

inomajaR ramuK

In [106]:
# Reversing a String
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

!dlroW ,olleH

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [107]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [108]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2`

3
1
2

In [109]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [110]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [111]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 16
print(challenge.find("")) # 17

5
0

In [113]:
print(challenge.find("j"))

-1

In [114]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 5
print(challenge.rfind('th')) # 1

16
17

In [116]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.index("da"))  # 7
print(challenge.index(sub_string, 9)) # error

7

ValueError: substring not found

In [ ]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex(sub_string, 9)) # error

In [117]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [118]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [119]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [121]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "Kumar        "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth')) # 'irty days of py'

13
5
irty days of py

In [122]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace('Python', 'Java')) # 'thirty days of coding'

I Like to code In Java

In [124]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
True
False

In [126]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123Python'
print(num.isalpha())      # False

False
False
False

In [127]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # False

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

False
True
True
False

In [ ]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

In [128]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # ½
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

True
True
False

In [129]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [130]:
# upper()
# lower()

name = "Kumar"

print(name.upper())

print(name.lower())

KUMAR
kumar

In [131]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

True
False
False
True

In [134]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) 

challenge = 'current,version,of,python,3.11'
print(challenge.split(','))

['python', 'is', 'interprted', 'functional', 'scripting', 'language']
['current', 'version', 'of', 'python', '3.11']

In [136]:

challenge = 'python is interprted functional scripting language'

challenge = challenge.split()

print(challenge, type(challenge))

print(challenge[-1])
print(challenge[:4])

['python', 'is', 'interprted', 'functional', 'scripting', 'language'] <class 'list'>
language
['python', 'is', 'interprted', 'functional']

In [141]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React'] #LIST --> STR

result = ",".join(web_tech)
print(result)

HTML,CSS,JavaScript,React

## Operators

    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/assignment_operators.png" height="600" width="600">

In [142]:
price = 12

# increase 2rs 
price = price + 2

# decrease 5 
price = price - 5 


print(price)

9

In [143]:
price = 12

# increase 2rs 
price += 2 #price = pirce+2

# decrease 5 
price -= 5 #price = price - 5 


print(price)

9

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/arithmetic_operators.png" height="700" width="700">

In [1]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

In [2]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

Floating Point Number, PI 3.14
Floating Point Number, gravity 9.81

In [3]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

Complex number:  (1+1j)
Multiplying complex numbers:  (2+0j)

In [4]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [8]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3


print("Desity", density)

Area of a circle: 314.0
Area of rectangle: 200
735.75 N
Desity 1000.0

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        
 <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/comparison_operators.png" width="700" height="700">

In [9]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True
True
False
True
True
False
True
False
True
True
False
True
True
False
True == True:  True
True == False:  False
False == False: True

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShiop Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x in y)

In [10]:

print(100 in [10,203,202,303])

False

In [11]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-11-c9a4367e925a>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
<ipython-input-11-c9a4367e925a>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
<ipython-input-11-c9a4367e925a>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [12]:
print(type([1,2,23]) is list)
print(type(11/2) is float)
print(type("AK") is str)

True
True
True

In [13]:
print(type([1020,39,39]))

<class 'list'>

In [20]:
a = 10
# print(id(a))

b = 10
# print(id(b))

#both refer to the same object memory location

# print(a is b)
# print(a is not b)

b = b+2

# print(id(a) , id(b))
# print(a is b)
# print(a is not b)


# x= 100

# y=200
# print( x is y)
# print(id(x),id(y))
# print(x is y)
# print(x is not y)


lstA = [10,20,39]

lstB = [10,20,39]

print(id(lstA) , id(lstB))

print(lstA is lstB)

1747220999552 1747219870976
False

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/logical_operators.png" >

In [155]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

<class 'str'> <class 'list'>
False
True
False

In [22]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

Enter the username: kumar
Enter the passsword: kumar123
Login Success

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [ ]:
#representing
# 8 bit 

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 |2  |1    min =0 max = 255

In [23]:
# bin() -- gives binary notation value of decimal no.

print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

0b10100
0b100101
0b111001
0b11011110

In [27]:
print(0b1010+0b101)
print(0o10+0b1010)

print(0xF+0b111)

15
18
22

In [28]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
###### AND 000

###### OR 111

###### EXOR 111

#####NOT 100

print(a & b)

print(a | b)

print(a ^ b)

#sign bit 

#0 -ve
#1 +ve

0
7
7

In [29]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

0b11
-4

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>1)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [ ]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100 = 20

# after shifting 1 bit to the left

#00010100 =>20

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, we’ll see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [ ]:
print(10+20*30/10)

In [ ]:
a = (10+20) * 30/10

print(a)

In [30]:
a =  2+3*8/2-10**4%2//10

print(a)

14.0

In [31]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Hello! Welcome.

In [32]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Good Bye!!

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [33]:
print(200 / 10 * 10)

200.0

In [34]:
print(5 - 2 + 3)

6

In [35]:
#right to left
print(2 ** 3 ** 2)

512

#### Ways to run python code

    - Jupyter notebook
    - cmd 
    - shell
    - IDLE
    - vscode