### LIST COMPREHENSION
    - using for loop inside your list or tuple 
    - shorter syntax compared to normal list with for loop

In [ ]:
lst = [] 
for i in range(0,20,2):
    lst.append(i)   
print(lst)

In [ ]:
evenList = [i for i in range(0,20,2)]
print(evenList)

In [ ]:
oddLst = []

for i in range(20):
    if(i%2==1):
        oddLst.append(i)
print(oddLst)

In [ ]:
oddList = (i for i in range(20) if i%2==0)
print(oddList)

In [ ]:
for data in oddList: print(data,end=" ")

In [ ]:
d = {"name":"Kumar","age":26}

In [ ]:
print(d)

In [ ]:
d1 = {i:i**3 for i in range(40)}

In [ ]:
print(d1)

In [ ]:
d2 = {ch:ord(ch) for ch in "Kumar"}
print(d2)

In [ ]:
nestedListComp = [ [ i+j for j in range(4)] for i in range(2)]

In [ ]:
print(nestedListComp)

### nested loops
- A loop inside another loop

In [ ]:
n = int(input())
for i in range(n):
    if i==n//2:
        break
    print(i)
    
# O(n//2)

In [ ]:
#outer loop

for i in range(1,4):
    
    for j in range(1,4):
        
        print(i,j)
    print()

In [ ]:
#outer loop

a=int(input())

if(a<5):
    for j in range(1,4):
        print(j)
else:
    print("Nothing")

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
bool([])
bool(a)

In [ ]:
while True:
    print("Python")

In [ ]:
i = 0
while True:
    print("python")
    if i==5:
        break
    i+=1

In [35]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
b=[]
print(bool(a))

True

In [36]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        break
    print(a.pop())
print('Done.')

corge
qux
baz
Done.

In [38]:
s = ""

n = 6
while n > 0:
    n -= 1
    if (n % 2) == 0:
        break

    a = ['foo', 'bar', 'baz']
    while a:
        s += str(n) + a.pop(0)
        if len(a) < 2:
            break

In [39]:
s

'5foo5bar'

In [40]:
a=[[2,8],[15,20]]
b=[[25,50],[50,60]]
i=0
j=0

c=[]

for i in range(len(a)):
    for j in range(len(b)):
        print(a[i][j] , b[i][j])
        c.append(a[i][j]+b[i][j])
print(c)

2 25
8 50
15 50
20 60
[27, 58, 65, 80]

In [41]:
i=0

while i<len(a):
    j=0
    while j<len(b):
        print(a[i][j]+b[i][j],end=" ")
        j+=1
    print()
    i+=1

27 58
65 80

In [ ]:
s="a"
s+="Python"
s

In [42]:
i=1
while i<4:
    j=1
    while j<4:
        print(i,j)
        j+=1 #increment inner
    #increment
    i+=1

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [43]:
i=4
while i>=0:
    j=3
    while j!=-1:
        print(i,j)
        j=j-1 #increment inner
    #increment
    i=i-1

4 3
4 2
4 1
4 0
3 3
3 2
3 1
3 0
2 3
2 2
2 1
2 0
1 3
1 2
1 1
1 0
0 3
0 2
0 1
0 0

In [44]:
a=10
a=a+5
a

15

In [45]:
a=10
a+=5 #a=a+5
a

15

In [ ]:
# Print a Pattern 
1
1 2
1 2 3
1 2 3 4 
1 2 3 4 5

In [47]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=" ")
        
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [48]:
n=5
for i in range(1,n+1): #i=3
    for j in range(1,n+2-i):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [49]:
for i in range(1,6): #i=3
    for j in range(1,i+1):
        print("*" ,end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [50]:
for i in range(5,-1,-1): #i=3
    for j in range(i,-1,-1):
        print(j ,end=" ")
    print()

5 4 3 2 1 0
4 3 2 1 0
3 2 1 0
2 1 0
1 0
0

### While Loop

<img src="https://blog.penjee.com/wp-content/uploads/2015/03/while-loop-animation-python.gif" width="750" align="center" height="100" width="200">

### While Even _Odd

<img src="https://blog.penjee.com/wp-content/uploads/2015/11/loop-over-python-list-animation.gif" align="center" height="500" width="300">

In [ ]:
#Q2
1  

2 2  

3 3 3  

4 4 4 4  

5 5 5 5 5

#Q3

1 1 1 1 1 

2 2 2 2 

3 3 3 

4 4 

5

# Q4 - Inverted Pyramid

5 5 5 5 5 

4 4 4 4 

3 3 3 

2 2 

1

#Q5 - reverse pyramid
1 

2 1 

3 2 1 

4 3 2 1 

5 4 3 2 1

### Loop based Question
- read a list of values using loop and caculate the  consecutive sum at index level. 
- read a list of values and caculate second largest number
- reverse a number
- factorial
- fibonaci series
- armstrong number
- prime number

In [ ]:
#read a list of values using loop and caculate the consecutive sum at index level.

n = 4
lst = [1,4,5,6]

o/p: [1,5,10,16]

5

In [ ]:
#reverse a number
#n=123
#op=321

In [ ]:
num = 123
num_str = str(num)
print(num_str)
num_str = num_str[::-1]
print(num_str)

In [ ]:
#read the number 

n = int( input("ENTER AN INTEGER:"))

while n!=0:
    rem = n%10
    n=n//10
    print(rem,end="")

In [ ]:
# #670
# 1.rem=0
# n=67
# print(rem)

# 2.rem=7
# n=6
# print(rem)

# 3.rem = 6
# n=0
# print(rem)

In [ ]:
6//10

### Factorial

In [ ]:
# n=4
# 1*2*3*4
#O(n)

In [ ]:
n= int(input())
Fact=1
while n!=-1:
    Fact = n*Fact
    n-=1
print(Fact)

In [ ]:
n = int(input("enter the number:"))
fact=1
for i in range(1,n+1):
    fact = fact*i
    print(fact,i)
print(fact)

In [ ]:
### 1 1 2 3 5 8 13

### Prime or Not

In [ ]:
'''
# CHECK GIVEN NUMBER IS A PRIME OR NOT.

ex: A number which is divisible by one and itself
    3 5 7 11 
    
    7 : in range of (1-7) has only two factors
    1x7 = 7
    7x1 = 7
 '''

num = int(input("Enter the number: "))

fc = 0

for i in range(1,num+1):
    if(num%i==0):
        fc = fc+1

if(fc==2):
    print("PRIME")
else:
    print("NOT PRIME")