### Try these
- Can we try while loop on sets/dictionary?

In [ ]:
#indexed based datatypes
list
tuple
str

#non indexed based datatypes:
set
dictionary

### Question on Normal loops

Q1. Find the second largest number and index in a given list of intergers
    
    - Incase of multiple second largest no's always print the last index.
    - If list is having only one element , then print the same.
    - If list is empty , print error message.
      ex: nums = [1,9,2,6,8,22,1,9]
      
Q2. Find the cummulative sum for a list of integers
   
    ex: nums = [1,4,6,2]
    
    o/p: [1,5,11,13]

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

### what is 2D data?

In [ ]:
data = [
    ["mango","grape","orange"],
    ["csk","mi","rr","kkr"],
    [1,3,5,7],
    [2,4,6,8]
]

print(data)

In [ ]:
print(data[1][3])

In [ ]:
print(data[-3][-3])

In [ ]:
# index of p
print(data[0][1][3])

In [ ]:
print(data[-4][-2][-2])

In [ ]:
print(data[-4][-2][::-1])

![](https://bertwagner.com/wp-content/uploads/2018/12/Nested-Loop-Join-50fps-1.gif)

### Nested For Loop

In [ ]:
for :
    for:
        for:
            for
    
for:
    while
    
while:
    while

while:
    for

In [ ]:
FOR ONE ITERATION OF Outer Loop , INNER loop will execute all it's iterations.

### normal loops

In [ ]:
for i in range(1,11):
    print(i , end = ' ')

In [ ]:
i = 1 
n = 10

while(i<=n):
    print(i,end=" ")
    i+=1

![](https://pynative.com/wp-content/uploads/2021/06/python-nested-for-loop.png)

In [ ]:
# normal for loop

for i in range(10):
    print(i , end=" ")

In [ ]:
for i in range(1,11): 
    for j in range(1,11):
        print(i*j,end=' ')
    print()

![](https://media.geeksforgeeks.org/wp-content/uploads/20220801153940/Nestedloop.png)

In [ ]:
for i in range(5): #0-4
    for j in range(2): #0-1
        print("HI" , end=" ")
    print()

In [ ]:
count=0
for i in range(0,10,2):
    for j in range(i+1,10,2):
        for k in range(j+2,10):
            count = count+1
print(count)

In [ ]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

In [ ]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

### Infinite loop

In [ ]:
i = 0
n = 10

while(i<=n):
    print(i)

In [42]:
data = [
    ["mango","grape","orange"],
    ["csk","mi","rr","kkr"],
    [1,3,5,7,9],
    [2,4,6,8,10,12,14]
]

#print -based for loop

for outer in data:
    for d in outer:
        print(d ,end=' ')
    print()

mango grape orange
csk mi rr kkr
1 3 5 7 9
2 4 6 8 10 12 14

In [43]:
#range based for loop 
n = len(data)

for i in range(0,n):
    m = len(data[i])
    for j in range(0,m):
        print(data[i][j] ,end=' ')
    print()

mango grape orange
csk mi rr kkr
1 3 5 7 9
2 4 6 8 10 12 14

In [44]:
# while loop 

i = 0 
n = len(data)

while i<n:
    j=0
    m = len(data[i])
    while j<m:
        print(data[i][j] , end=' ')
        j+=1
    i+=1
    print()

mango grape orange
csk mi rr kkr
1 3 5 7 9
2 4 6 8 10 12 14

####  EXAMPLES

In [45]:
response = {
  "page": 2,
  "per_page": 6,
  "total": 12,
  "total_pages": 2,
  "data": [
    {
      "id": 7,
      "email": "michael.lawson@reqres.in",
      "first_name": "Michael",
      "last_name": "Lawson",
      "avatar": "https://reqres.in/img/faces/7-image.jpg"
    },
    {
      "id": 8,
      "email": "lindsay.ferguson@reqres.in",
      "first_name": "Lindsay",
      "last_name": "Ferguson",
      "avatar": "https://reqres.in/img/faces/8-image.jpg"
    },
    {
      "id": 9,
      "email": "tobias.funke@reqres.in",
      "first_name": "Tobias",
      "last_name": "Funke",
      "avatar": "https://reqres.in/img/faces/9-image.jpg"
    },
    {
      "id": 10,
      "email": "byron.fields@reqres.in",
      "first_name": "Byron",
      "last_name": "Fields",
      "avatar": "https://reqres.in/img/faces/10-image.jpg"
    },
    {
      "id": 11,
      "email": "george.edwards@reqres.in",
      "first_name": "George",
      "last_name": "Edwards",
      "avatar": "https://reqres.in/img/faces/11-image.jpg"
    },
    {
      "id": 12,
      "email": "rachel.howell@reqres.in",
      "first_name": "Rachel",
      "last_name": "Howell",
      "avatar": "https://reqres.in/img/faces/12-image.jpg"
    }
  ],
  "support": {
    "url": "https://reqres.in/#support-heading",
    "text": "To keep ReqRes free, contributions towards server costs are appreciated!"
  }
}

In [50]:
print(type(response['data']))

<class 'list'>

In [86]:
for users in response['data']:
    for k,v in users.items():
        if k in ('avatar'):
            print(v)

https://reqres.in/img/faces/7-image.jpg
https://reqres.in/img/faces/8-image.jpg
https://reqres.in/img/faces/9-image.jpg
https://reqres.in/img/faces/10-image.jpg
https://reqres.in/img/faces/11-image.jpg
https://reqres.in/img/faces/12-image.jpg

### Try these

- Data : https://github.com/vega/vega/blob/main/docs/data/cars.json
- Save the data in fileName.json
1. Read the data and store in variables
2. Filter only carsName , based on Origin
2. Filter carName based on Year

In [ ]:
x = [1, 2]
y = [4, 5]

for i in x:
    for j in y:
        print(i, j)

In [ ]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
    j = 0
    while j < len(y) :
        print(x[i] , y[j])
        j = j + 1
    i = i + 1

In [ ]:


arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

for data in arr_2D:
    print(data)

In [ ]:
for data in arr_2D:
    for inner in data:
        print(inner, end =" ")
    print()

In [ ]:
data = ["apple","ms","telsa", "Micro"]

print(data[0])

In [ ]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]


print(arr_2D[0][3])

print(len(arr_2D))

In [ ]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]

n = len(arr_2D)
print("len is",n)

for i in range(n):
    for j in range(len(arr_2D[i])):
        print(arr_2D[i][j])
    print()

In [ ]:
arr_2D

### TRY THIS

In [ ]:

for i in range(n):
    for j in range(len(arr_2D[i])):
        if(i==j):
            arr_2D[i][j] = i**j
    print()
    
print(arr_2D)

In [ ]:
for i in range(2, 4):
    if i==j:
        break
    print(i, "*", j, "=", i*j)
    print()

In [ ]:

for i in range(2, 4):
    for j in range(1, 11):
        if i==j:
            continue
        print(i, "*", j, "=", i*j)
    print()

In [ ]:
# EXAMPLES

data = [["kumar",1200],["Alex",1500],["Avan",2500]]

for outer in data:
    for d2 in outer:
        print(d2)

### Daily-usecases

#### Printing mutliplication table

In [ ]:
for i in range(2, 4):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)
    print()