## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://s4scoding.com/images/python-built-in-functions.jpg" width= "700" height="800">

In [ ]:
lst = {10,203,20} 

# print(dir(lst))
print(type(lst))

In [ ]:
print(sum(lst))
print(max(lst))
print(min(lst))

In [ ]:
print(help(lst))

In [ ]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

In [ ]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

In [ ]:
a = 10,20,304,40
print(type(a))

In [ ]:
names = "kumar","prakash","manoj"

print(type(names))
print(names)

In [ ]:
#dir()
print(dir([]))

In [ ]:
print(dir(""))

In [ ]:
#  sum()

marks = [10,20,30]

print(sum(marks))

In [ ]:
#max() min()

print(max(marks))

print(min(marks))

In [ ]:
print(marks)
print(person)

In [ ]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar      R"))


print(len(person))

print(len(10)) #error.

In [ ]:
print(a)

In [ ]:
print(ord("H"),ord("i"))

In [ ]:
print(chr(97) , chr(105))

In [ ]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

In [ ]:
# datatype prebuild method
int - int()
float - float()
str - str()
bool - bool()
complex - complex()

list - list()
tuple - tuple()
set - set()
dictionary - dict()

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.

In [ ]:
# range(start,stop,step)

In [ ]:
a = range(1,10,1)
print(a , type(a))

In [ ]:
print(list(a))

In [ ]:
print(list(range(0,20,2)))

In [ ]:
print(list(range(1,20,2)))

In [ ]:
a = tuple(range(0,5,1))

print(a)

In [ ]:
a = list(range(1,10,2))

print(a)

In [ ]:
a = list(range(-1,-5,-1))

print(a)

In [ ]:

a = list(range(5)) #range(0,5,1)


print(a)

In [ ]:
a = list(range(1,2))

print(a)

In [ ]:
a = list(range(0,20,2))

print(a)

In [ ]:
a = list(range(1,20,2))

print(a)

In [ ]:
list(range())

In [ ]:
list(range(1,1))

In [ ]:
# next value < stop

In [ ]:
list(range(-1,5,1))

In [ ]:
list(range(-1,-5,1))

In [ ]:
list(range(3,20,0))

In [ ]:
list(range('a','z',0))

In [ ]:
list(range(0,20))

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [ ]:
a = input()#reads a string type
b = input()
print(a+b) #string concat or merging

In [ ]:
print("10"+"20")

In [ ]:
a = float(input()) #str - float
b = int(input()) # str - int
print(a+b)

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10' 
print('num_int', int('10'))      # 10
print('num_float', float(num_str))  # 10.0

# str to list
first_name = 'Kumar'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

In [ ]:
firstname = "kumar rajamoni".split()

print(firstname)

In [ ]:
name = "Kumar Python Tutor"

print(name.split())

In [ ]:
a = "A B C".split() # str -- list 

print(a)

In [ ]:
# str - int
stra = "10"

print(int(stra))

In [ ]:
strb = "289892.282"

print(float(strb))

In [ ]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

In [ ]:
num = 10
print(float(num)) #10.0

num1 = "10.5"

print(float(num1))
print(int(float(num1)))

letters= ["a","b",'c','a','e','b']
print(letters)
print(set(letters))

In [ ]:
# int - float 
    float()
    
# float - int 
    int()
    
# str - int (str must be in valid decimal 0-9 format)
    int()
    
#str - float (str must be in valid format)
    float()

In [ ]:
print(float("10.6k"))

In [ ]:
# list - tuple
    tuple()
    
# list - set 
    set()

In [ ]:
names = ["kumar","prakash","manoj"]


# not possible

# list -- dict
# tuple -- dict
# set - dict
print(dict(names))

#### Try these  small task 
1. read 10 digit integer num from keyboard
    hint: int(input()) 
2. count number of zeros
3. if you don't find zero's print -1

ex: 10205678905


    op: 3 
    
    
    1234568791
    op: -1

In [ ]:


# reading the input
number = int(input('any 10digit  number : '))
print(number)

# convertion int - str
number = str(number)

print(number.count('0'))
# appling the method
if number.count('0') > 0:
    print("number of zeros : ",number.count('0'))
    
print(-1)