### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes / args
    - value 
    - sep =  ' ' : used when more than one value is printing
    - end = '\n' : used when we want to print new line
    - file = sys.stdout : monitor/screen/console 
    - flush = Flase

In [ ]:
print('kumar13h87y78b jsbj biuwy873 23') #strings --> group of character(letter(a-zA-Z,symbol,numbers(0-9))

In [ ]:
print('my name is Fenil')

In [ ]:
print("Jan session")

In [ ]:
print("""Python Session
April 
Discussing 
Python print() 
method""")

In [ ]:
print('''Python Session
Jan 
Discussing 
Python print() 
method''')

In [ ]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [ ]:
# datatype varName = value;
int age = 26;
float salary = 1282.3793
String name = "Kumar"
    name = 10;

#static type , java , c , c++
#they are fixed size

In [ ]:
#var_name = value 

name = "Kumar" #str
role = "SDE"   #str
age = 45       #int
salary = 9873739.33
isDeveloper = False

print(name) 
print(role)
print(age)
print(salary)
print(isDeveloper)

print(type(name))
print(type(role))
print(type(age))
print(type(salary))
print(type(isDeveloper))

In [ ]:
print(name)
print(role)
print(age)

In [ ]:
print(name,age,role,salary,isDeveloper)

In [ ]:
print(name,age,role,sep = '->')

In [ ]:
print(name,age,role,sep=" # ")

In [ ]:
print(name,age,role,sep="\n")

In [ ]:
print(age,name,salary,sep='')

In [ ]:
# end = "\n"

for i in range(0,5):
    print(i)

In [ ]:
#end= "\n"
for i in range(0,5):
    print(i ,end="@")

In [ ]:
print(name,end=" ")
print(salary,end=" ")
print(age,end=" ")

In [ ]:
#file=sys.stdout -->  screen /monitor

s = open("april.txt",mode="a") #append mode

print("Hey Hi Fenil and Sowmya welcome to python session..",file=s)

In [ ]:
A = 10
B = 20
C = 45
print(A)
print()
print()
print(B)
print(C)

In [ ]:
print(A)
print(B)
print(C)

In [ ]:
a = 10
b = 30

print(a,end=" ")
print(end="->")
print(b)

In [ ]:
# print() --> act as new line : because of end="\n"

### Try these?

what is the value for the below code ?
  ```python

    res = print("hello")
    print(res)
    
    print(print("hello"))
```

In [ ]:
lst = [10,20,30,40]

deletedEle = lst.pop(2)
print(deletedEle)


print(lst.pop())

print(lst)

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''
     this is a function which 
     return addition
    '''
    print(a+b)

In [ ]:
fun(10,20)

In [ ]:
#Take new inputs from keyboard
'''
we are learning python 
comments 
single comments 
multiline comments
'''

In [ ]:
n = 32
min_value = -2**(n-1)
max_value = 2**(n-1)-1
print(min_value, max_value)

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

syntax:
    
    variableName = value 
    
    value = strings : "kumar"
    value = integers : 0-9
    value = float  : 0.0 - 9.9 
    value : boolean : True or False
    value : complex : 1+2j

### JAVA
- Java is Strongly typed language 
- Java is static language 
- we have to manually declare datatypes for variables.
- for every DATATYPES , there will be FIXED RANGE & SIZE
```java
    datatypes variableName = value;
```

### PYTHON
- Python is weekly typed language
- Python is Dynamic
- We don't have to manually declare datatypes for variables
- No SIZE restrictions on datatypes
```python
    variableName = value
```

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [ ]:
name = "Kumar"

print(name)

print( type(name) )

In [ ]:
studentMarks = [10,20,30,37]
print(studentMarks)

In [ ]:
#all KEYWORDS..
import keyword

print(keyword.kwlist)

print(len(keyword.kwlist))

In [ ]:
break = 10 #invalid

In [ ]:
_if ="kumar"
print(_if)

In [ ]:
_ = "kumar"
__ = 10

print(_)
print(__)

### Styling cases
- 4 popular case styles in programming.
   -  Camel case
   -  Snake case
   -  Pascal case
    
    
##### Camel Case

> Camel case is one of the most commonly used naming conventions in coding. In the camel case, compound words start with a capital letter.
- Notice that in the camel case, the first letter of the very first word starts with a lowercase letter.
- Many programming languages **use camel case to declare variables.**
- We can also use for naming function or methods in python
```python        
myAccountBalance = 100
distanceToMoon = 3.844e8
```


##### 2. Pascal Case
- In the Pascal case, all compound words start with a capital letter.
- The most common use case for the pascal case is for naming classes.
```python
class MainViewController: UIViewController { ... }
```

##### 3. Snake Case (snake_case)
- Snake case is a case style where each compound word is separated by an underscore. 
- This greatly improves the readability of values with long multi-word names.
- declaring variables  and constant values

```python
my_age = 26
date_today = "2022-09-15"

{
    first_seen: "2021-07-02",
    last_modified: "2022-09-15"
}


DISTANCE_TO_MOON = 3.884e8
```

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [ ]:
name = 'kumar'

print('Iam ', name)
print('My name is' , name)

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
num = {}
print(num)
print(type(num))

In [ ]:
a = 10
b = 10.2
c = "python"
d = 1+7j 

print(a , type(a))
print(b, type(b))
print(c , type(c))
print(d, type(d))

In [ ]:
print(first_name, type(first_name) , id(first_name))

In [ ]:
print(type(first_name))

print(type(age))

print(type(skills))

In [ ]:
age = 35
print(age , type(age))

In [ ]:
age = 67.6
print(age , type(age))

In [ ]:
age = (10,20)
print(age , type(age))

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
age = 10 #static declaration
print(age)

In [ ]:
# dynamic declaration.
age = input('Enter a age: ') #read data(int,float,bool,complex) in str format only
print(age , type(age))

In [ ]:
salary = input('Enter a salary: ')
print(salary , type(salary))

In [ ]:
print(type(45.5))

print(type("45.5"))

In [ ]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

print(num1 + num2)

In [ ]:
print('6' + '7')
print("10"+"20")
print("Hi"+"Java")

In [ ]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

# explicit conversation
num1 = int(num1)
num2 = int(num2)

print(num1 + num2)

In [ ]:
age = input('enter a age: ')

print(age , type(age))

age = int(age) #string - int

print(age , type(age))

In [ ]:
age = int(input("Enter the age: "))
print(age,type(age))

In [ ]:
num1 = int(input("Enter num1: ")) #string --> int using int()
num2 = int(input("Enter num2: "))

print(num1 + num2)

In [ ]:
a = int(input("enter a value: "))
print(a)

In [ ]:
print(int("11879797"))

In [ ]:
print(int("67g"))

In [ ]:
salary = float(input("Enter the salary"))
print(salary , type(salary))

In [ ]:
print(float('27.7378'))

In [ ]:
print(float('27.7sj'))

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

In [ ]:
## Declare 5 realtime variables and take input from keyboard
# Just print(value , type , memoryID.)

### Assignment Answers

In [ ]:
name = input("enter the name")
address = input("enter address: ")
university_courseduration = int(input("enter course duration: "))
course_fee = float(input("enter the course_fee"))
is_student = bool(input("Are you a student?True/False"))

print (name , type (name) ,id(name))
print(address , type(address) ,id(address))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))
print (course_fee, type(course_fee), id(course_fee))
print(is_student , type(is_student) , id(is_student))

In [ ]:
fifa_winner = input("Enter the winner name")
print(fifa_winner , type(fifa_winner) , id(fifa_winner))
messi_score = int(input("enter messi score: "))

print(messi_score , type(messi_score) , id(messi_score) )