### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [ ]:
print("Hello World ")

In [ ]:
var = "Holiday"

if var == "Holiday":
    print("Let's plan something")
    print("Thinking .....")
else:
    print("Go to class")
    print("Uhgggggg")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

- attributes 
    - value 
    - sep
    - end
    - file 
    - flush

In [2]:
print("Hello World Python .. ")

Hello World Python ..

In [3]:
print('Hii Hey')

Hii Hey

In [4]:
print('Hey Geeks') #string

print(10) #int 

print(10.2) #float

print(1+2j) #complex

print(True) #booleam

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

Hey Geeks
10
10.2
(1+2j)
True
[10, 20, 30, 40]
('IND', 'NZ', 'AUS')
{'blue', 'yellow', 'red'}
{'name': 'Kumar', 'course': 'Python', 'fee': 10.23893}

In [ ]:
##IN OTHER LANG's
#static types

int age = 10;
float salary = 10.28938;
char ch = 'a';
String name = "Kumar";

age = 10.5; ##valid?

In [7]:
name = "Kumar"
role = "SDE"
age = 45

print(name)
print(role)
print(age)

Kumar
SDE
45

In [9]:
print(name,role,age)

Kumar SDE 45

In [10]:
print(name,age,role,sep=" # ")

Kumar # 45 # SDE

In [11]:
print(name,age,role,sep=" , ")

Kumar , 45 , SDE

In [12]:
print(name,age,role,sep="\n")

Kumar
45
SDE

In [13]:
print(age,role , sep = " %% ")

45 %% SDE

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
#end= "\n"
for i in range(10):
    print(i, end = " , ")

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ,

In [17]:
#file=sys.stdout

s = open("demo.txt",mode="a")

print("Hey Hi Introduction to python" , file = s)

In [19]:
a = 10
b = 30

print(a)

print() #\n
print()
print()
print()
print()


print(b)

10





30

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''this is a function which 
        return addition'''
    print(a+b)
    
fun(10,20)

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

In [ ]:
#Valid variables.

# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# Invalid variables 


# first-name
# first@name
# first$name
# num-1
# 1num

In [21]:
num1 = 10

In [29]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [30]:
class = 102.2 #reserved word 
print(class)

SyntaxError: invalid syntax (<ipython-input-30-6c4c95497e05>, line 1)

In [22]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [23]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kumar
First name length: 5
Last name:  Rajamoni
Last name length:  8
Country:  India
City:  Noida
Age:  25
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python', 'JAVA']
Person information:  {'firstname': 'Kumar', 'lastname': 'Rajamoni', 'country': 'India', 'city': 'Hyd'}

In [28]:
#type(var_name)  --> gives type of data
#len(var_name)   --> length 
#id(var_name)    ---> memory addres.

print(type(first_name))

print(type(age))

print(type(skills))


print(len(skills))

print(len("Py"))

# print(len(10)) #can't used for numeric data types.

<class 'str'>
<class 'int'>
<class 'list'>
6
2

TypeError: object of type 'int' has no len()

In [ ]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [35]:
var = input("Enter some interger .")
print(var , type(var))

Enter some interger .1+2j
1+2j <class 'str'>

In [36]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

What is your name: KUmar
How old are you? 24
KUmar
24

In [40]:
score1 = input("Enter the score1: ")

score1 = int(score1) #str -- int

score2 = input("Enter the score2: ")

score2 = int(score2) #str -- int

print(score1 + score2)

Enter the score1: 67
Enter the score2: 89
156

In [39]:
print("98"+"85")
print(98+85)

9885
183

In [41]:
age = int(input("Enter the age? "))
print(age , type(age))

Enter the age? 10
10 <class 'int'>

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### List 
    - List is a collectional & indexed & ordered data type , which stores multiple items/elements in single variable.
    - declared with []
    - Indexing 
        - Postive indexing : 0 -> N-1
        - Indexing : -1 ->  -N
    - Mutable --> Changes are allowed at locations.

### tuple 
       - tuple is also collectional & indexed & ordered data type , which stores multiple items/elements in single variable.
       - declared with ()
       - Indexing 
            - Postive indexing : 0 -> N-1
            - Indexing : -1 ->  -N
    - Immutable --> Changes are not allowed at locations. Once assigned it's fixed can't changeable.

## Set
        - Set is unordered & unindexed datatype
        - declared with {} 
        - Doesn't store duplicate elements 
        - No Indexing because of no ordering 
        - Mutable

## Dictionary 
    - Dictionary is a collection which stores the data in key : value format 
    - KEY should be unique and immuatble type:
        - Keys can  be str,tuple,int, float , complex,bool
        - Values can be of any type.
        
    - {"key1":"value1" , 
        "key2":"value2"
          .....}
          
     - Fastest and efficient one among all collection data types

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/builtin-functions.png" width= "700" height="600">

In [ ]:
##type()  id()

In [ ]:
#dir()

In [ ]:
#sum()

In [ ]:
#max() min()

In [ ]:
#len()

In [ ]:
# chr() ord()

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']